Source: qvd-wat
Section: miscelaneous
Priority: optional
Maintainer: Nicolas Arenas <nicolas.arenas@gmail.com>
Build-Depends: debhelper (>= 8.0.0)
Standards-Version: 3.9.4
Homepage: http://theqvd.com
#Vcs-Git: git://git.debian.org/collab-maint/qvd-wat.git
#Vcs-Browser: http://git.debian.org/?p=collab-maint/qvd-wat.git;a=summary

Package: qvd-wat
Architecture: all
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: QVD Web administration tool
	With multitenant support and awesome features
