<h1>About</h1>
<p>Quality Virtual Desktop Web Admin Tool.</p>
<p>Follow it in <a href="http://qvdblog.qindel.com">QVD blog</a>.</p>
<!-- [FIXME: Insert here official wiki links]
<h2>Technical support</h2>
<ul>
<li></li>
</ul> -->
