<!DOCTYPE html>
<html lang="en">
<head>
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<title>Quality Virtual Desktop</title>
[% jquery.script_src_elements %]
[% jquery.link_elements %]
[% jquery.document_ready %]
<link rel="stylesheet" href="/static/css/reset.css" />
<link rel="stylesheet" href="/static/css/text.css" />
<link rel="stylesheet" href="/static/css/960.css" />
<link rel="stylesheet" href="/static/css/qvd.css" />
<link rel="stylesheet" href="/static/css/table.css" />
<link rel="stylesheet" href="/static/css/themes/blue/style.css" type="text/css" />
<link rel="stylesheet" href="/static/css/jquery.tablesorter.pager.css" type="text/css" />
<script type="text/javascript" src="/static/js/jquery.tablesorter.js"></script> 
<script type="text/javascript" src="/static/js/jquery.tablesorter.pager.js"></script> 
<script type="text/javascript">
  $(document).ready(function() {});
</script>
</head>
<body>
<div class="container_12">
	<div id="header">
	</div>

	<div id="content">
		<div class="grid_3" id="top-logo">
			<p>
				<a href="/"><img src="/static/images/qvd-logo-header.png" alt="Quality Virtual Desktop logo" /></a>
			</p>
		</div>
		<div class="grid_9" id="top-menu">
			<p>
				Administrador | <a href="#">Preferencias</a> | <a href="/about">Acerca de...</a> | <a href="#">Salir</a>

			</p>
		</div>				
		<div class="clear"></div>
		<div class="grid_3" id="menu">
			<ul>
				<li><a href="/users/" class="menu_user">Usuarios</a></li>
				<li><a href="/vm/" class="menu_vm">M&aacute;quinas virtuales</a></li>
				<li><a href="/hosts/" class="menu_host">Nodos</a></li>
				<li><a href="/osi/" class="menu_osi">Im&aacute;genes</a></li>															
			</ul>
		</div>
		<div class="grid_9">
		    [% IF status_msg %]<p class="message">[% status_msg %]</p>[% END %]
		    [% IF error_msg %]<p class="error">[% error_msg %]</p>[% END %]
		    [% IF response_msg %]<p class="response_[% response_type %]">[% response_msg %]</p>[% END %]
		    [% content %]
		</div>
		<div class="clear"></div>
	</div>
	<div id="bottom"> </div>
	<div id="footer">
		Quality Virtual Desktop Web Admin Tool, by <a href="http://qindel.es">QindelGroup</a>
	</div>	

</div>

</body>
</html>
