/********************************************************************
*********************************************************************
*********************************************************************

                @LAYOUT LIST: Layout of list view
                components/_layout-list.scss

*********************************************************************
*********************************************************************
********************************************************************/


.filter {
    display: none;
    @include in(desktop) {
        display: block;
    }

    margin-bottom: 15px;

    width: ($width_list_side - 2) * 1%;
    height: auto;

    .filter-control {
        margin-bottom: 10px;
        display: block;
    }

    @if $list_side == left {
        float: left;
        padding-right: 2%;
        margin-right: 2%;
        border-right: 1px dotted darken($col_whiter, 15);
    }
    @else if $list_side == right {
        float: right;
        padding-left: 2%;
        margin-left: 2%;
        border-left: 1px dotted darken($col_whiter, 15);
    }

    hr {
        border: 0px;
        height: 1px;
        background: darken($col_whiter, 15);
        width: 100%;
    }
    
    .chosen-results li {
        line-height: 1.4em;
        font-size: 12px;
    }
}

.list-block, .details-side {        
    @include in(desktop) {
        float: left;
        width: ($width_list_content) * 1%;
    }

    .filter-mobile {
        margin-bottom: 15px;

        .filter-control {
            margin-bottom: 10px;
            display: block;
        }
    }

    .list-navigation {
        position: relative;
        width: 100%;
        @extend %clearfix;

        @include in(desktop) {
            margin-bottom: 0px;
        }

        .pagination {
            margin-bottom: 10px;
            text-align: center;
            
            @include in(desktop) {
                margin-bottom: 10px;
                padding: 0px;
                height: auto;
                //width: 49%;
                float: right;
                text-align: right;
                margin-top: 6px;
            }
            
            a {
                padding: 3px 10px;
                line-height: 30px;
                @include in(desktop) {
                    line-height: 18px;
                }

            }
        }

        .action-new-item {
            @extend %clearfix;
            margin-bottom: 10px;
            margin-top: -10px;
            @include in(desktop) {
                float: left;
            }
        }

    }
    
    .shown-elements {
        margin-top: 9px;
        float: right;
    }    
    
    .selected-elements {
        margin-top: 9px;
        float: left;
    }
}

.more-tags {
    margin-top: 8px;
}

fieldset {
    @extend %clearfix;
    width: 100%;
    clear: both;

    background: darken($col_whiter, 3);
    border: 2px solid darken($col_whiter, 7);
    padding: 20px;
    
    &.action-select {
        margin-top: 60px;
    }  
    
    &.action-selected {
        margin-top: 35px;
    }

    .chosen-container {
        margin-top: -6px;
    }

    .action-selected-select {
        margin-bottom: 10px;
        width: 100%;
    } 

    .action-selected-button a {
        @include in(desktop) {
            float: right;
        }
    }       

    legend {
        text-align: left;
        color: $col_blacker;
        padding: 0px 10px;
    }
}

/* Grid styles */

.grid-cell {
    float: left;
    
    width: 100%;
    
    @include in(desktop) {
        width: 215px;
    }
        
    background: $col-whiter;
    margin: 10px;
    
    padding: 10px;
    border-radius: 4px;
    border: #ddd solid 4px;
    
    a {
        &.button, &.button2 {
            width: 100%;
            text-align: center;
            
            &.connect-btn {
                width: 60%;
                float: right;
                @include in(desktop) {
                    width: 100%;
                    float: none;
                }
            }
        }
    }
    
    .vm-link {
        float: left;
        margin-left: 10px;
        @include in(desktop) {
            float: none;
            margin: inherit;
        }
    }
    
    .vm-name {
        width: 100%;
        
        @include in(desktop) {
            width: 100%;
        }
    }
    
    .vm-screenshot {
        background: url('../images/screenshot-test.png');
        background-size: auto 100%;
        background-position: center; 
        background-repeat: no-repeat;
        
        width: 35%;
        height: 75px;
        float: left;
        
        @include in(desktop) {
            width: 100%;
            height: 150px;
            float: none;
            margin-top: 5px;
            margin-bottom: 5px;
        }
        
        position: relative;
        
        
        .state-icon, .warning-icon, .vm-warn-buttons {
            position: absolute;
        }
        
        .vm-warn-buttons {
            background: $col-blacker;
            opacity: 0.8;
            position: absolute;
            left: 0;
            
            width: 100%;
            height: 38px;
            bottom: -40px;
            border-radius: 6px;
            
            @include in(desktop) {
                width: 60px;
                top: 0;
                border-radius: 0px;
                border-bottom-right-radius: 10px;
                height: 30px;
                bottom: -35px;
                border-radius: 10px;
            }
        }
        
        .state-icon, .warning-icon {
            bottom: -36px;
            width: 30px;
            height: 30px;
            padding: 6px;
            
            @include in(desktop) {
                top: 3px;
                width: 24px;
                height: 24px;
                padding: 3px;
            }
            
            background: $col-whiter;
            border-radius: 100%;
        }
        
        .state-icon {
            left: 14px;
            @include in(desktop) {
                left: 3px;
            }
        }
        
        .warning-icon {
            right: 10px;
            @include in(desktop) {
                left: 32px;
            }
        }
    }
    
    .liltext {
        margin-top: 5px;
    }
    
    .vm-link {
        @include in(mobile) {
            width: 60%;
            float: right;
            position: relative;
            height: 37px;
        }
    }
    
    .vm-link-button {
        position: absolute;
    }
}
