/********************************************************************
*********************************************************************
*********************************************************************

                @LAYOUT LOGIN: Layout of login
                components/_layout-login.scss

*********************************************************************
*********************************************************************
********************************************************************/

.login-wrapper {
    background: $login_bg;
    color: $login_text;

    .login-box {
        width: 90%;
        height: 250px;
        @include in(desktop) {
            width: 400px;   
            height: 300px;
        }
        margin: 0px auto;
        display: table;
        table-layout: fixed;
        padding: 20px 20px;

        .login-main {    
            position: relative;
            
            div.logo-login {
                width: 100px;
                height: 95px;
                position: absolute;
                right: 0px;
                top: 3px;
                @include in(desktop) {
                    top: 20px;
                }
                background-image: url($login_logo);
                background-repeat: no-repeat;
                background-size: 100%;
            }

            div.header1-login {
                font-size: 26pt;
                @include in(desktop) {
                    font-size: 36pt;
                }
                font-weight: bold;
                margin-top: 65px;
                margin-bottom: 5px;
            }   

            div.header2-login {
                font-size: 15pt;
                @include in(desktop) {
                    font-size: 18pt;
                }
                margin-bottom: 10px;
            }

            display: table-cell;
            vertical-align: middle;

            .login-form {
                text-align:left;
                margin: 0 auto;
                font-size: 1.1em;
                @include in(desktop) {
                    width: 100%;
                    font-size: 1.2em;
                }
                &>div {
                    &.login-control {
                        padding-bottom: 5px;

                        &>div:first-child {
                            padding-bottom: 5px;
                        }

                        input {
                            width: 100%;    
                            height: 45px;
                            color: $col_brand;

                            &:-webkit-autofill {
                                -webkit-box-shadow: 0 0 0px 1000px lighten($col_brand, 42) inset;
                                -webkit-text-fill-color: $col_brand;
                            }
                        }
                    }

                    &.login-link {
                        width: 100%;
                        text-align: right;
                        font-size: small;
                        margin-bottom: 20px;
                    }

                    &.login-button {
                        text-align: right;
                        padding-top: 5px;
                        
                        a {
                            width: 100%;
                            text-align: center;
                            display: inline-block;
                            height: 45px;
                            padding-top: 7px;
                        }
                    }
                }
            }
        }
    }
}