/********************************************************************
*********************************************************************
*********************************************************************

                @LAYOUT LIST: Layout of list view
                components/_layout-list.scss

*********************************************************************
*********************************************************************
********************************************************************/


.filter {
    display: none;
    @include in(desktop) {
        display: block;
    }

    margin-bottom: 15px;

    width: ($width_list_side - 2) * 1%;
    height: auto;
    background: darken($col_whiter, 3);
    border: 2px solid darken($col_whiter, 7);
    padding: 9px;
    border-radius: 6px;
    
    i.fa {
        margin-right: 8px;
    }

    .filter-control {
        margin-bottom: 10px;
        display: block;
    }

    @if $list_side == left {
        float: left;
        padding-right: 1%;
        margin-right: 2%;
    }
    @else if $list_side == right {
        float: right;
        padding-left: 1%;
        margin-left: 1%;
    }

    hr {
        border: 0px;
        height: 1px;
        background: darken($col_whiter, 15);
        width: 100%;
    }
    
    .chosen-results li {
        line-height: 1.4em;
        font-size: 12px;
    }
}

.list-block, .details-side {        
    @include in(desktop) {
        float: left;
        width: ($width_list_content) * 1%;
    }

    .filter-mobile {
        margin-bottom: 15px;

        .filter-control {
            margin-bottom: 10px;
            display: block;
        }
    }

    .list-navigation {
        position: relative;
        width: 100%;
        @extend %clearfix;
        padding: 10px;

        @include in(desktop) {
            margin-bottom: 0px;
        }

        .pagination {
            margin-bottom: 10px;
            text-align: center;
            
            @include in(desktop) {
                margin-bottom: 10px;
                padding: 0px;
                height: auto;
                //width: 49%;
                float: right;
                text-align: right;
                margin-top: 6px;
            }
            
            a {
                padding: 3px 10px;
                line-height: 30px;
                @include in(desktop) {
                    line-height: 18px;
                }

            }
        }

        .action-new-item {
            @extend %clearfix;
            margin-bottom: 10px;
            margin-top: -10px;
            @include in(desktop) {
                float: left;
            }
        }

    }
    
    .shown-elements {
        margin-top: 9px;
        float: right;
    }    
    
    .selected-elements {
        margin-top: 9px;
        float: left;
        color: $col_whiter;
    }
}

.more-tags {
    margin-top: 8px;
}

fieldset {
    @extend %clearfix;
    width: 100%;
    clear: both;

    background: darken($col_whiter, 3);
    border: 2px solid darken($col_whiter, 7);
    padding: 20px;
    
    &.action-select {
        margin-top: 60px;
    }  
    
    &.action-selected {
        margin-top: 35px;
        display: none;
        position: fixed;
        top: 50px;
        right: 10px;

        width: 100px;

        @include in(desktop) {
        width: 250px;
        }        
        
        a.button, a.button2 {
            @include in(mobile) {
                text-align: center;
            }
        }
        min-height: 100px;
        background: lighten($col_blacker, 10);

        .title {
            color: $col_whiter;
            margin-bottom: 20px;
            font-weight: bold;
            line-height: 20px;
        }
    } 

    .chosen-container {
        margin-top: -6px;
    }       

    legend {
        text-align: left;
        color: $col_blacker;
        padding: 0px 10px;
    }
}

/* Grid styles */

.grid-cell {
    float: left;
    
    width: 100%;
    margin: 0px 0px 15px 0px;

    @include in(desktop) {
        width: 215px;
        margin: 10px;
    }
    
    color: $col_whiter;
    background: $col_grey_desktop;
    
    border-radius: 2px;
    border: $col_grey3 solid 2px;
    
    &.grid-connected {
        border-color: $col_enabled;
        
        .grid-cell-buttonset {
            background: $col_enabled;
            
            .desktop-state {
                color: $col_whiter;
                font-weight: bold;
            }
        }
    }
    
    .grid-cell-icon {
        display: none;
        position: absolute;
        font-size: 54px;
        top: 38px;
        left: 67px;
        background: $col_grey4;
        width: 80px;
        height: 80px;
        border-radius: 100%;
        padding-top: 28px;
        color: $col_enabled;
    }
    
    position: relative;
    
    .corner-image {
        position: absolute;
        top: 5px;
        right: 5px;
        width: auto;
        
        img {
            width: 40px;
        }
    }
    
    a {
        &.button, &.button2 {
            text-align: center;
            font-size: 24px;
            
            margin-right: 10px;
            width: 40px;
            height: 40px;
            border-radius: 100%;
            position: absolute;
            bottom: 5px;
            left: 5px;
        }
    }
    
    .grid-cell-area {
        padding: 10px;
    }
    
    &.grid-disconnected .grid-cell-area {
        cursor: pointer;
    }
    
    .grid-cell-buttonset {
        padding: 10px;
        width: 100%; 
        height: 50px;
        background: $col_grey2;
        color: $col_grey1;
    }
    
    .vm-link {
        float: left;
        margin-left: 10px;
        @include in(desktop) {
            float: none;
            margin: inherit;
        }
    }
    
    .vm-name {
        width: 100%;
        
        @include in(desktop) {
            width: 100%;
        }
    }
    
    .vm-screenshot {
        //background: url('../images/screenshot-test.png');
    }  
    
    .vm-screenshot-off {
        
    }
    

    .vm-screenshot, .vm-screenshot-off {
        background-size: auto 100%;
        background-position: center; 
        background-repeat: no-repeat;
        
        width: 35%;
        height: 75px;
        float: left;
        
        @include in(desktop) {
            width: 100%;
            height: 100px;
            float: none;
            margin-top: 5px;
            margin-bottom: 5px;
        }
        
        position: relative;
        
        
        .state-icon, .warning-icon, .vm-warn-buttons {
            position: absolute;
        }
        
        .vm-warn-buttons {
            background: $col-blacker;
            opacity: 0.8;
            position: absolute;
            left: 0;
            
            width: 100%;
            height: 33px;
            bottom: -38px;
            border-radius: 6px;
            
            @include in(desktop) {
                width: 60px;
                top: 0;
                border-radius: 0px;
                border-bottom-right-radius: 10px;
                height: 30px;
                bottom: -35px;
                border-radius: 10px;
            }
        }
        
        .state-icon, .warning-icon {
            bottom: -36px;
            width: 28px;
            height: 28px;
            padding: 5px;
            
            @include in(desktop) {
                top: 3px;
                width: 24px;
                height: 24px;
                padding: 3px;
            }
            
            background: $col-whiter;
            border-radius: 100%;
        }
        
        .state-icon {
            left: 14px;
            @include in(desktop) {
                left: 3px;
            }
        }
        
        .warning-icon {
            right: 10px;
            @include in(desktop) {
                left: 32px;
            }
        }
    }
    
    .vm-link {
        width: 60%;
        float: right;
        position: relative;
        height: 37px;
        
        @include in(desktop) {
            height: 25px;
            float: none;
            width: 100%;
            position: relative;

            a {
                width: 100%;
            }
        }
    }
    
    .vm-link-button {
        width: 60%;
        float: right;
        padding-left: 6px;
        
        @include in(desktop) {
            width: 100%;
            float: none;
        }
        
        &.desktop {
            @include in(desktop) {
                display: block;
            }
        }
        
        &:before {
            font-size: 31px;
        }
    }
}

.profile-select {
    clear: none;
    padding: 4px;
    width: 100%;
    @include in(desktop) {
        width: 35%;
    }
}

div.list {
    margin-left: 55px;
}