.editor-container {
    margin: 0;
    
    @include in(desktop) {
        margin: 10px 20px;
    }
    
    .editor-table {
        width: 100%;
        
        @include in(desktop) {
            border-spacing: 20px;
        }
        
        border-collapse: separate;
        
        td {
            padding-top: 4px;
        }
        
        td.colspanned {
            text-align: left !important;
            white-space: normal;
            font-weight: normal !important;
        }
        
        &>tbody>tr>td:first-child {
            font-weight: bold;
            min-width: 50%;
            @include in(desktop) {
                text-align: right;
            }
            vertical-align: top;
            padding-top: 5px;
        }
        
        td.fa:before {
            margin-right: 10px;
        }
    }
}

.disabled-row * {
    opacity: 0.7;
    color: lighten($col_grey1, 20);
}
