/********************************************************************
*********************************************************************
*********************************************************************

                @LAYOUT LIST: Layout of list view
                components/_layout-list.scss

*********************************************************************
*********************************************************************
********************************************************************/


.filter {
    display: block;
    
    margin-bottom: 15px;

    width: ($width_list_side - 2) * 1%;
    height: auto;
    background: darken($col_whiter, 3);
    border: 2px solid darken($col_whiter, 7);
    padding: 9px;
    border-radius: 6px;
    
    i.fa {
        margin-right: 8px;
    }

    .filter-control {
        margin-bottom: 10px;
        display: block;
    }

    @if $list_side == left {
        float: left;
        padding-right: 1%;
        margin-right: 2%;
    }
    @else if $list_side == right {
        float: right;
        padding-left: 1%;
        margin-left: 1%;
    }

    hr {
        border: 0px;
        height: 1px;
        background: darken($col_whiter, 15);
        width: 100%;
    }
    
    .chosen-results li {
        line-height: 1.4em;
        font-size: 12px;
    }
}

.list-block {        
    float: left;
    width: 98%;

    .list-navigation {
        position: relative;
        width: 100%;
        @extend %clearfix;
        padding: 10px;

        @include in(desktop) {
            margin-bottom: 0px;
        }

        .pagination {
            margin-bottom: 10px;
            text-align: right;
            
            @include in(desktop) {
                padding: 0px;
                height: auto;
                float: right;
                margin-top: 6px;
            }
            
            a {
                padding: 3px 10px;
                line-height: 18px;
            }
        }
    }
    
    .shown-elements {
        margin-top: 9px;
        float: right;
    }    
}

/* Grid styles */

.grid-cell {
    float: left;
    
    width: 215px;
    margin: 10px;
        
    color: $col_whiter;
    
    background: $col_grey_desktop;
    
    border-radius: 2px;
    border: $col_grey3 solid 2px;
    
    &.grid-connected, &.grid-reconnecting {
        border-color: $col_enabled;
        
        .grid-cell-buttonset {
            @include in(desktop) {
                background: $col_enabled;
            }
            
            .desktop-state {
                color: $col_whiter;
                font-weight: bold;
            }
        }
    }
    
    .grid-cell-icon {
        display: none;
        position: absolute;
        font-size: 54px;
        top: 50px;
        left: 67px;
        background: $col_grey4;
        width: 80px;
        height: 80px;
        border-radius: 100%;
        padding-top: 28px;
        color: $col_enabled;
    }
    
    position: relative;
    
    .corner-image {
        position: absolute;
        top: 5px;
        right: 5px;
        width: auto;
        
        img {
            width: 40px;
        }
    }
    
    a {
        &.button, &.button2 {
            text-align: center;
            border-radius: 100%;
            font-size: 24px;
            width: 40px;
            height: 40px;
            margin-top: 0px;
            margin-right: 160px;
                        
            &.desktop-connect-btn {
            }            
            
            &.desktop-settings-btn {
                margin-left: 15px;
            }
        }
    }
    
    .grid-cell-area {
        padding: 10px;
    }
    
    &.grid-disconnected, &.grid-connected {
        .grid-cell-area {
            cursor: pointer;
        }
    }
    
    .grid-cell-buttonset {
        padding: 5px;
        width: 100%; 
        height: 50px;
        background: $col_grey2;
        color: $col_grey1;
        
        
        .desktop-state {
            position: absolute; 
            bottom: 10px;
            right: 10px;
        }
    }
    
    .vm-name {
        width: 100%;
        color: $col_whiter;
    }
    
    .vm-screenshot {
        //background: url('../images/screenshot-test.png');
    }  
    
    .vm-screenshot-off {
        
    }
    

    .vm-screenshot, .vm-screenshot-off {
        background-size: auto 100%;
        background-position: center; 
        background-repeat: no-repeat;
        
        width: 100%;
        height: 100px;
        float: none;
        
        @include in(desktop) { 
            margin-top: 5px;
            margin-bottom: 5px;
        }
        
        position: relative;
    }
}

.row-desktop {
    &.row-connected, &.row-reconnecting {
        td:first-child {
            background: $col_enabled;
            color: $col_whiter;
        }
    }
}

div.list {
    padding-right: 10px;
    
    @include in(desktop) {
        margin-left: 55px;
    }
}

.section-container {
    padding: 35px 65px 0px 65px;
    width: 100%;
    // Mockups version
    //padding: 0px;
    //width: 60%;
}