/********************************************************************
*********************************************************************
*********************************************************************

                @MOBILE LAYOUT: Grids, Wrappers...
                components/_mobile_layout.scss

*********************************************************************
*********************************************************************
********************************************************************/


/* Layout */

body {
    background: url($body_background_img_mobile) no-repeat top right fixed;         
    -webkit-background-size: auto 100%;
    -moz-background-size: auto 100%;
    -o-background-size: auto 100%;
    background-size: auto 100%;
}

* {
    min-width: 0 !important;
}

.super-wrapper {
    .wrapper {
        margin-left: 0;
    }
}

.header-wrapper {
    width: 100%;
    min-width: auto;
    
    .header {
        padding-left: 5px;
        padding-right: 5px;
    }
}

.message-container {
    left: 0;
    top: initial;
    bottom: 0px;
    width: 100%;
    border-radius: 0;
    
    .message-close {
        font-size: 40px;
    }
    
    .message {
        summary {
            line-height: 45px;
        }
        
        .expand-message {
            font-size: 40px;
        }
    }
}

.loading, .loading-mid {
    width: 75px;
    top: 25vh;
}

.loading {
    @include icon-size(75px);
}

.loading-mid {
    @include icon-size(45px);
}


.wrapper {
    .content {
        // Different view layouts
        //@import "mobile_layout-home";
        @import "mobile_layout-list";
        //@import "mobile_layout-details";
        //@import "mobile_layout-doc";
        //@import "mobile_layout-login";
    }
}

//@import "mobile_layout-editor";


.footer {
    width: 100%;
    height: 40px;
    display: none;
    
    .logo {
        height: 15px;
        width: 35px;
    }
}

.menu-lat {
    width: 100%;
    background: $col_grey1;
    height: auto;
    display: none;
    padding-bottom: 2px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
        
    .menu-option {
        background: $mobile_buttons_bg_col;

        padding-top: 5px;
        color: $mobile_buttons_text_color;
        border: 2px solid $mobile_buttons_border_col;
        margin: 2px;
        font-size: 16px;
        
        span {
            width: auto;
            padding-top: 13px;
        }
    }
}

.geolocation-title {
    display: block;
    margin-bottom: 5px;
}

.mobile-action-button {
    display: block;
    width: 90%; 
    margin: 30px auto; 
    text-align: center; 
    height: 40px; 
    padding-top: 10px;
}
