/********************************************************************
*********************************************************************
*********************************************************************

                @MOBILE SETTINGS
                components/_mobile_settings.scss

*********************************************************************
*********************************************************************
********************************************************************/

.settings-list-table {
    border-collapse: separate;
    border-spacing: 0px 5px;
    background: transparent !important;
    border: 0 !important;
    opacity: $mobile_buttons_opacity;
    width: 100%;

    tbody.buttonset {
        tr, td {
            background: transparent !important;
            border: 0;
            position: relative;
            
            a.new-workspace-btn {
                width: 100%;
                position: absolute;
                left: 0;
                height: 50px;
                padding-top: 17px;
            }
        }
    }
    
    td {
        text-align: center;
        height: 65px !important;
        @include font-size(3);
        
        color: 2px solid $mobile_buttons_text_color;
        border: 2px solid $mobile_buttons_border_col;
        background: $mobile_buttons_bg_col;
        
        a {
            color: $mobile_buttons_text_color;
        }
    }
    
    .activated-label {
        font-size: 12px;
        margin-top: 10px;
        color: $col_enabled;
        font-weight: bold;
    }
    
    .activated-cell {
        border: 2px solid $col_enabled;
    }
}