/********************************************************************
*********************************************************************
*********************************************************************

                @MOBILE LAYOUT LIST: Layout of list view
                components/_layout-list.scss

*********************************************************************
*********************************************************************
********************************************************************/


.filter {
    display: none;
}

.list-block {        
    float: none;
    width: auto;

    .list-navigation {
        .pagination {
            text-align: center;
            
            a {
                line-height: 30px;
            }
        }
    }
}

/* Grid styles */

.grid-cell {
    width: 100%;
    margin: 0px 0px 15px 0px;
    opacity: $mobile_buttons_opacity;
    background: $mobile_buttons_bg_col;
    border: 2px solid $mobile_buttons_border_col;
    
    a {
        &.button, &.button2 {
            font-size: 51px;
            margin-right: 0px;
            margin-top: 7px;
            width: 63px;
            height: 63px;
            
            &.desktop-settings-btn {
                margin-left: 20px;
            }
        }
    }
    
    .grid-cell-area {        
        float: left;
        width: 50%;
        height: 90px;
    }

    .grid-cell-buttonset {       
        float: left;
        width: 50%;
        height: 90px;
        background: $mobile_buttons_bg_col;
        
        a.button:before {
            color: white;
        }        
        a.button2 {
            background: white;
        }
        
        .desktop-state {
            left: 10px;
        }
    }
    
    &.grid-connected, &.grid-reconnecting {        
        .grid-cell-buttonset {
            .desktop-state {
                color: $col_enabled;
            }
        }
    }
    .vm-name {
        width: 100%;
        color: $mobile_buttons_text_color;
        
    }

    .vm-screenshot, .vm-screenshot-off {
        width: 35%;
        height: 75px;
        float: left;
    }
}

div.list {
    padding-right: 0px;
}

.section-container {
    padding: 0px;
}