/********************************************************************
*********************************************************************
*********************************************************************

                @MENU
                components/_menu.scss

*********************************************************************
*********************************************************************
********************************************************************/

.menu {
    display: none;

    @include in(desktop) {
        display: block;
    }
    
    &>ul {    
        .menu-option, .lateral-menu-option, .lateral-menu-option-discrete {
            @extend %not-selectable;
            display: block;

            @include in(desktop) {
                display: inline;
            }

            min-width: 100px;
            padding: 8px 12px 8px 12px;
            background: $menu_bg;
            color: $menu_text;
            border: 1px solid $menu_border;
            cursor: pointer;

            &:last-child {
                border-bottom-left-radius: $menu_radius;
                border-bottom-right-radius: $menu_radius;
            }    

            &:first-child {
                border-top-left-radius: $menu_radius;
                border-top-right-radius: $menu_radius;
            }

            @include in(desktop) {
                &:last-child {
                    border-bottom-left-radius: 0;
                    border-top-right-radius: $menu_radius;
                    border-bottom-right-radius: $menu_radius;
                }    

                &:first-child {
                    border-top-right-radius: 0;
                    border-top-left-radius: $menu_radius;
                    border-bottom-left-radius: $menu_radius;
                }  

                &:first-child:last-child {
                    border-radius: $menu_radius;
                }
            }

            // Icon
            .fa {
                @include icon-size(18px);
                margin-right: 10px;

            }

            span {
                vertical-align: bottom;
            }

            &:active {
                @include in(desktop) {
                    margin-bottom: -2px;
                    margin-top: 1px;
                }
            }

        }
        
        .lateral-menu-option, .lateral-menu-option:active, .lateral-menu-option-discrete {
            float: left;
            margin-bottom: 10px;
            width: 100%;
        }
        
        .lateral-menu-option-discrete {
            border: 0;
        }

            .menu-option--selected, .lateral-menu-option--selected {
                background: $menu_selected_bg;
                color: $menu_selected_text;
                border: 1px solid transparent;
            }
        
            .menu-option:hover, .lateral-menu-option:hover {
                background: $menu_hover_bg;
                color: $menu_hover_text;
                border: 1px solid transparent;
            }

            .menu-option--selected, .lateral-menu-option--selected {
                font-weight: bold;

                span {
                    vertical-align: baseline;
                }

                &:active {
                    margin: 0px;
                }            
            }
    }
}

.menu-corner {
    @extend %invisible;
    
    z-index: 1000;
    position: absolute;
    top: 20px;
    right: 80px;
    display: none;
    
    @include in(desktop) {
        right: 20px;
        display: block;
    }
    
    
    &>ul {
        &>li {
            display: inline;
            margin: 5px;
            position: relative;
            cursor: default;
            padding-bottom: 5px;
            padding-top: 5px;
            
            &.menu-option>a {
                color: $menu_header_text;
            }
        
            &.menu-option-current {
                border-bottom: 2px dotted $menu_header_selected_text;
                border-top: 2px dotted $menu_header_selected_text;
                a {
                    color: $menu_header_selected_text;
                }
            }
            
            &>ul {
                border: solid 1px $submenu_border;
                opacity: 0.9;
                display: none;
                position: absolute;
                left: 0px;
                top: 28px;
                border-bottom-left-radius: $menu_radius;
                border-bottom-right-radius: $menu_radius;
                z-index: 3;
                &>li {
                    span {
                        padding: 8px;
                        white-space: nowrap;
                        width: 100%;
                        color: $submenu_text;
                        background: $submenu_bg;
                        
                        &:before {
                            margin-right: 5px;
                        }
                        
                
                        &.fa-graduation-cap:before {
                            margin-right: 2px;
                            margin-left: -2px;
                        }
                        
                        &:hover {
                            font-weight: bold;
                            color: $submenu_hover_text;
                            background: $submenu_hover_bg;
                        }
                    }
                    
                    &:last-child span {
                        border-bottom-left-radius: $menu_radius;
                        border-bottom-right-radius: $menu_radius;
                    }
                }
            }
        }
    }
    
    li.menu-option.needsclick.menu-option:last-child {
        margin-left: 10px;
        background-color: $col_whiter;
        padding: 8px;
        border: 1px solid darken($col_whiter, 8);
        
        i {
            padding-right: 25px;
            &:before {
                font-size: 25px;
                position: absolute;
                top: 4px;
            }
        }
        
        .js-menu-submenu-user {
            top: 32px;
        }
    }
}

.side-menu {
    li {
        margin-bottom: 15px;
        cursor: pointer;

        a {
            &:before {
                margin-right: 5px;
                font-weight: normal;
            }
            
            &.fa-graduation-cap:before {
                margin-right: 2px;
                margin-left: -2px;
            }
        
            &.selected-option, &:hover {
                font-weight: bold;
            }
        }
    }
}

// Mobile

.mobile-menu {
    cursor: pointer;
    position: absolute;
    top: 5px;
    right: 20px;
    @include icon-size(50px);
    
    @include in(desktop) {
        display: none;
    }
}

.mobile-menu--mini {
    @include icon-size(30px);
}


.submenu ul {
    margin-bottom: 20px;
    float: right;
    
    .menu-option {
        padding: 4px 8px 4px 8px;
    }
}

.secondary-menu {
    display: block !important;
    visibility: visible !important;
    margin-top: 0px !important;
}

.back-top-button {
    position: fixed;
    left: 50px;
    bottom: 50px;
}