/********************************************************************
*********************************************************************
*********************************************************************

                @MENU
                components/_menu.scss

*********************************************************************
*********************************************************************
********************************************************************/

.menu {
    display: none;

    @include in(desktop) {
        display: block;
    }
    
    &>ul {    
        .lateral-menu-option, .lateral-menu-option:active, .lateral-menu-option-discrete {
            float: left;
            margin-bottom: 10px;
            width: 100%;
        }
        
        .lateral-menu-option-discrete {
            border: 0;
        }

            .menu-option--selected, .lateral-menu-option--selected {
                background: $menu_selected_bg;
                color: $menu_selected_text;
                border: 1px solid transparent;
            }
        
            .menu-option:hover, .lateral-menu-option:hover {
                background: $menu_hover_bg;
                color: $menu_hover_text;
                border: 1px solid transparent;
            }

            .menu-option--selected, .lateral-menu-option--selected {
                font-weight: bold;

                span {
                    vertical-align: baseline;
                }

                &:active {
                    margin: 0px;
                }            
            }
    }
}

.menu-corner {
    @extend %invisible;
    
    z-index: 1000;
    position: absolute;
    top: 20px;
    right: 80px;
    display: none;
    
    @include in(desktop) {
        right: 20px;
        display: block;
    }
    
    
    &>ul {
        &>li {
            display: inline;
            margin: 5px;
            position: relative;
            cursor: default;
            padding-bottom: 5px;
            padding-top: 5px;
            
            &.menu-option>a {
                color: $menu_header_text;
            }
            
            &>ul {
                border: solid 1px $submenu_border;
                opacity: 0.9;
                display: none;
                position: absolute;
                left: 0px;
                top: 28px;
                border-bottom-left-radius: $menu_radius;
                border-bottom-right-radius: $menu_radius;
                z-index: 3;
                &>li {
                    span {
                        padding: 8px;
                        white-space: nowrap;
                        width: 100%;
                        color: $submenu_text;
                        background: $submenu_bg;
                        
                        &:before {
                            margin-right: 5px;
                        }
                        
                
                        &.fa-graduation-cap:before {
                            margin-right: 2px;
                            margin-left: -2px;
                        }
                        
                        &:hover {
                            font-weight: bold;
                            color: $submenu_hover_text;
                            background: $submenu_hover_bg;
                        }
                    }
                    
                    &:last-child span {
                        border-bottom-left-radius: $menu_radius;
                        border-bottom-right-radius: $menu_radius;
                    }
                }
            }
        }
    }
    
    li.menu-option {
        &.icon-circle {
            margin-left: 2px;
            background-color: $col_whiter;
            
            &.menu-option-current, &:hover {
                background-color: $col_brand;
                i:before {
                    color: $col_whiter;
                }
            }
            padding: 8px 9px 8px 9px;
            border-radius: 100%;

            i {
                padding-right: 20px;
                &:before {
                    font-size: 25px;
                    position: absolute;
                    top: 4px;
                    color: $col_brand;
                }
            }

            .js-menu-submenu-user {
                top: 32px;
            }
        }
        
        .login-welcome {
            color: $col_whiter;
        }
    }
}

.side-menu {
    li {
        margin-bottom: 15px;
        cursor: pointer;

        a {
            &:before {
                margin-right: 5px;
                font-weight: normal;
            }
            
            &.fa-graduation-cap:before {
                margin-right: 2px;
                margin-left: -2px;
            }
        
            &.selected-option, &:hover {
                font-weight: bold;
            }
        }
    }
}

// Mobile

.mobile-menu {
    cursor: pointer;
    position: absolute;
    top: 5px;
    right: 20px;
    @include icon-size(50px);
    
    @include in(desktop) {
        display: none;
    }
}

.mobile-menu--mini {
    @include icon-size(30px);
}


.submenu ul {
    margin-bottom: 20px;
    float: right;
    
    .menu-option {
        padding: 4px 8px 4px 8px;
    }
}

.secondary-menu {
    display: block !important;
    visibility: visible !important;
    margin-top: 0px !important;
}

.back-top-button {
    position: fixed;
    left: 50px;
    bottom: 50px;
}