/********************************************************************
*********************************************************************
*********************************************************************

                @TABLES
                components/_tables.scss

*********************************************************************
*********************************************************************
********************************************************************/


/* Table list */

table.list {
    @include table-base (alternate-rows);
}

table.manage-roles, table.manage-acls {
    width: 100%;
    
    td {
        text-align: left;
    }
}

table.details {
    @include table-base (first-col);
    
    td:first-child {
        vertical-align: top;
        white-space: nowrap;
    }

    td:last-child {
        font-weight: bold;
        width: 75%;
    }
}

.second_row {
    margin-top: 4px;
    color: lighten($col_blacker, 20);
}

.second_row--error {
    color: darken($col_red, 10);
}

th .second_row {
    color: $col_blacker;
}

td.inner-table {
    padding: 0 !important;
    
    table {
        width: 100%;
    }
    
}

.fixed {
    table-layout: fixed;
}

@include in(desktop) {
    .not-break {
        white-space: nowrap;
        overflow-x: hidden;
        text-overflow: ellipsis;
    }
}

// Different sizes for cells with different amount of icons
$table_icons_size: 18;
$table_icons_margin: 6;
$cell_padding: 8;
$security_margin: 5;
@for $i from 1 through 6 {
    $width_for_icons: ($i * ($table_icons_size + $table_icons_margin)) + $security_margin + (2 * $cell_padding);
    .max-#{$i}-icons {
        width: $width_for_icons * 1px;
        min-width: $width_for_icons * 1px;
    }
}

@for $i from 1 through 100 {
    .col-width-#{$i} {
        width: $i * 1% !important;
    }
}

/* Table scroll */

div.list-block div:first-child {
    width: 100%;
    
    .list {
        overflow-x: auto;
        overflow-y: hidden;
        margin-top: 3px;
    }   
    
    table.list {
        width: 100%;
        
        th {
            position: relative;
            padding-right: 20px;
            
            i {
                position: absolute;
                right: 5px;
                padding-left: 10px;
            }
        }        
    }
}



table.list {
    td, th {
        white-space: nowrap;
    }     
    
    td.cell-link:hover {
        cursor: pointer;
        background: $col_brand_main;
        color: $col_whiter;

        * { 
            color: $col_whiter;
        }
    } 
    
    &.cascade-data-list {
        margin-top: 20px;

        td, th {
            white-space: normal;
        }
    }
    
    a:before {
        margin-right: 5px;
    }
}

    
table.settings-editor-table {
    width: 100%;
    border-collapse: separate;

    tr {
        background: $col_grey4;

        td {
            border: 0;
            padding: 6px 4px 4px 6px;
            height: 25px;
            
            &:first-child {                  
                text-align: right;
                
                vertical-align: middle;
            }
        }
    }
}