Source: qvd-wat
Section: perl
Priority: optional
Maintainer: qvd-team <qvd@qindel.com>
Build-Depends: debhelper (>= 7)
Standards-Version: 3.8.4
Homepage: http://qvdblog.qindel.com

Package: qvd-wat
Architecture: all
Depends: ${shlibs:Depends}, ${misc:Depends}, libqvd-admin-web-perl, qvd-sample-config
Description: The QVD Web Administration Tool
 The QVD Web Administration Tool is a web application for administering the QVD
 platform.
