Source: sercd
Section: comm
Priority: extra
Maintainer: QVD Team <qvd@qindel.com>
Build-Depends: debhelper (>= 7), autotools-dev
Standards-Version: 3.8.3
Homepage: http://sercd.sf.net

Package: sercd
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: RFC 2217 Serial Communications Daemon
 This program uses the RFC 2217 extensions to TELNET to implement serial
 commands over the TCP connection and interface to a specified serial port.
