<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.theqvd.android.client"
    android:versionCode="257590"
    android:versionName="@string/version" >

    <uses-sdk android:minSdkVersion="8" android:targetSdkVersion="12"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.KILL_BACKGROUND_PROCESSES"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.GET_ACCOUNTS"/>
    <uses-permission android:name="android.permission.USE_CREDENTIALS"/>
    
    <application
        android:icon="@drawable/icon"
        android:label="@string/app_name_qvd" android:description="@string/description" android:theme="@style/QvdTheme">
        <activity
            android:name=".QvdclientActivity"
            android:label="@string/app_name_qvd"
             >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="EditConnectionActivity"></activity>
        <activity android:name="SelectVmActivity"></activity>
        <activity
            android:name="com.theqvd.android.xpro.XvncproActivity"
            android:label="@string/xvncpro_app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.theqvd.android.xpro.DummyActivity" android:screenOrientation="landscape">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"></action>
                <action android:name="android.intent.action.VIEW"></action>
                <category android:name="android.intent.category.DEFAULT"></category>
                <data android:scheme="x11"></data>
                <category android:name="android.intent.category.BROWSABLE" />
            </intent-filter>            
        </activity>
        <service android:enabled="true" android:name="com.theqvd.android.xpro.XserverService" android:exported="false">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"></action>
                <action android:name="android.intent.action.VIEW"></action>
                <category android:name="android.intent.category.DEFAULT"></category>
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="x11"></data>
            </intent-filter>
        </service>
	<activity android:label="@string/app_name" android:name="android.androidVNC.androidVNC" android:screenOrientation="landscape">
            <intent-filter>
	      <action android:name="android.intent.action.MAIN"></action>
	      <category android:name="android.intent.category.LAUNCHER"></category>
	    </intent-filter>
	</activity>
    <activity android:screenOrientation="landscape" android:configChanges="orientation|keyboardHidden" android:name="android.androidVNC.VncCanvasActivity">
	  <intent-filter>
	    <action android:name="android.intent.action.VIEW"></action>
	  </intent-filter>
	  <intent-filter>
	    <action android:name="android.intent.action.VIEW" />
	    <category android:name="android.intent.category.DEFAULT" />
	    <data android:scheme="vnc" />
	  </intent-filter>
	</activity>
	<activity android:name="android.androidVNC.ConnectionListActivity" android:label="@string/shortcut_label">
	  <intent-filter>
	    <action android:name="android.intent.action.CREATE_SHORTCUT" />
	    <category android:name="android.intent.category.DEFAULT" />
	  </intent-filter>
    </activity>
    </application>
</manifest>
