.niceform{
	padding-left: 5px;
	padding-right: 5px;
	font: bold 13px arial, tahoma, helvetica, sans-serif;
}

.vmlistrow {
	cursor: pointer;
	padding: 10px;
	background-color:#FFA347;
}

.stoprow {
	cursor: pointer;
	padding: 10px;
	background-color:#b0c4de;
}