Source: qvd-admin
Section: perl
Priority: optional
Maintainer: qvd-team <qvd@qindel.com>
Build-Depends: debhelper (>= 7)
Standards-Version: 3.8.4
Homepage: http://qvdblog.qindel.com

Package: qvd-admin
Architecture: all
Depends: ${shlibs:Depends}, ${misc:Depends}, libqvd-admin-perl, qvd-sample-config
Description: The command line QVD administration tools
 Command lines tools for administering the QVD platform.
