Source: qvd-admin
Section: perl
Priority: optional
Maintainer: qvd-team <qvd@qindel.com>
Build-Depends: debhelper (>= 7)
Standards-Version: 3.8.4
Homepage: http://qvdblog.qindel.com

Package: qvd-admin
Architecture: all
Depends: ${shlibs:Depends}, ${misc:Depends}, libqvd-admin-perl, qvd-sample-config
Description: Command line tools for administering the QVD platform
 Command line tools for managing the users, virtual machines and operating
 system images on the QVD platform.
