Source: qvd-up
Section: miscelaneous
Priority: optional
Maintainer: QVD Team <qvd@qindel.com>
Build-Depends: debhelper (>= 8.0.0)
Standards-Version: 3.9.4
Homepage: http://theqvd.com

Package: qvd-up
Architecture: all
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: QVD User Portal
