Source: qvd-db
Section: perl
Priority: optional
Maintainer: qvd-team <qvd@qindel.com>
Build-Depends: debhelper (>= 7)
Standards-Version: 3.8.4
Homepage: http://qvdblog.qindel.com

Package: qvd-db
Architecture: all
Depends: ${shlibs:Depends}, ${misc:Depends}, postgresql
Description: The QVD database
 The QVD database maintains the current state of the platform.
