/* INCLUDED: variables */
/* INCLUDED: place_holders */
.wrapper .content::after, .wrapper .content .list-block .list-navigation::after, .wrapper .content .details-side .list-navigation::after, .wrapper .content .list-block .list-navigation .action-new-item::after, .wrapper .content .details-side .list-navigation .action-new-item::after, .wrapper .content .list-block .action-selected::after, .wrapper .content .details-side .action-selected::after, .footer::after, .wrapper .content::before, .wrapper .content .list-block .list-navigation::before, .wrapper .content .details-side .list-navigation::before, .wrapper .content .list-block .list-navigation .action-new-item::before, .wrapper .content .details-side .list-navigation .action-new-item::before, .wrapper .content .list-block .action-selected::before, .wrapper .content .details-side .action-selected::before, .footer::before {
  content: "";
  clear: both; }
.wrapper .content::after, .wrapper .content .list-block .list-navigation::after, .wrapper .content .details-side .list-navigation::after, .wrapper .content .list-block .list-navigation .action-new-item::after, .wrapper .content .details-side .list-navigation .action-new-item::after, .wrapper .content .list-block .action-selected::after, .wrapper .content .details-side .action-selected::after, .footer::after {
  display: table; }

.header-wrapper .header, .wrapper {
  width: 100%;
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px; }

.not-selectable, .menu > ul .menu-option, a.button, button.button, a.button2, button.button2, a.button.disabled, a.button2.disabled, button.button.disabled, button.button2.disabled, table.list th, table.custom-props th, .ui-dialog .ui-state-hover, .ui-dialog .ui-state-focus {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

.menu-corner, .header-wrapper, .wrapper, .wrapper .menu, .wrapper .breadcrumbs, .wrapper .content, .footer {
  visibility: hidden; }


*:focus, .ui-dialog {
  outline-width: 0;
  outline: none;
  -moz-outline: none;
  -moz-user-focus: ignore;
  box-shadow: 0;
  border: 0; }

/* INCLUDED: mixins */
/********************************************************************
*********************************************************************
*********************************************************************

                @RESET: Based on Eric Meyer's Reset 2.0
                components/_reset.scss

*********************************************************************
*********************************************************************
********************************************************************/
/**
 * Eric Meyer's Reset CSS v2.0 (http://meyerweb.com/eric/tools/css/reset/)
 * http://cssreset.com
 */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/* Added by me */
*, *::after, *::before {
  box-sizing: border-box; }


:focus {
  box-shadow: 1 1 1px 0px #f36d15; }

/********************************************************************
*********************************************************************
*********************************************************************

                @GENERAL: Styles that affect general group of elements
                components/_general.scss

*********************************************************************
*********************************************************************
********************************************************************/
body {
  background: #fdfdfd;
  font-size: small; }

* {
  font-family: Taoma, Arial;
  font-size: small; }

a {
  color: #f36d15;
  text-decoration: none;
  font-weight: bold; }

a:hover i:before {
  color: #222222; }

.hidden {
  display: none; }

.invisible {
  visibility: hidden; }

fieldset {
  padding: 8px;
  border: 1px solid #fde6d7;
  border-radius: 6px; }
  fieldset legend {
    color: #909090;
    text-align: right; }

.h1 {
  position: relative;
  font-weight: bold;
  font-size: 16px;
  color: #6f6f6f;
  margin-bottom: 15px; }
  .h1 .subtitle {
    font-weight: normal;
    color: #a2a2a2; }
  .h1 .fa:before {
    margin-right: 5px; }

.h2 {
  font-weight: bold;
  font-size: 14px;
  color: #888888;
  margin-bottom: 14px; }


.center {
  text-align: center; }

.ok {
  color: #009900; }

.warning {
  color: #ccaa00; }

.error {
  color: #cc0000; }

/********************************************************************
*********************************************************************
*********************************************************************

                @MENU
                components/_menu.scss

*********************************************************************
*********************************************************************
********************************************************************/
.menu > ul {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex; }
  .menu > ul .menu-option {
    display: block;
    min-width: 100px;
    font-size: 0.9em;
    padding: 8px 12px 8px 12px;
    background: #fdfdfd;
    color: #222222;
    border: 1px solid #f8a876;
    cursor: pointer; }
    @media screen and (min-width: 40em) {
      .menu > ul .menu-option {
        display: inline; } }
    .menu > ul .menu-option:last-child {
      border-bottom-left-radius: 7px;
      border-bottom-right-radius: 7px; }
    .menu > ul .menu-option:first-child {
      border-top-left-radius: 7px;
      border-top-right-radius: 7px; }
    @media screen and (min-width: 40em) {
      .menu > ul .menu-option:last-child {
        border-bottom-left-radius: 0;
        border-top-right-radius: 7px;
        border-bottom-right-radius: 7px; }
      .menu > ul .menu-option:first-child {
        border-top-right-radius: 0;
        border-top-left-radius: 7px;
        border-bottom-left-radius: 7px; } }
    .menu > ul .menu-option .fa {
      font-size: 18px;
      margin-right: 10px; }
    .menu > ul .menu-option span {
      vertical-align: bottom; }
    @media screen and (min-width: 40em) {
      .menu > ul .menu-option:active {
        margin-bottom: -2px;
        margin-top: 1px; } }
  .menu > ul .menu-option--selected, .menu > ul .menu-option:hover {
    background: #f36d15;
    color: #fdfdfd;
    border: 1px solid transparent; }
  .menu > ul .menu-option--selected {
    font-weight: bold; }
    .menu > ul .menu-option--selected span {
      vertical-align: baseline; }
    .menu > ul .menu-option--selected:active {
      margin: 0px; }

.breadcrumbs {
  font-size: xx-small; }

.menu-corner {
  z-index: 1000;
  position: absolute;
  top: 10px;
  right: 80px;
  display: none; }
  @media screen and (min-width: 40em) {
    .menu-corner {
      right: 20px;
      display: block; } }
  .menu-corner > ul > li {
    display: inline;
    margin: 5px;
    position: relative;
    cursor: default; }
    .menu-corner > ul > li > ul {
      border: solid 1px #fac7a7;
      background: #fdfdfd;
      opacity: 0.9;
      display: none;
      position: absolute;
      left: -9px;
      border-bottom-left-radius: 7px;
      border-bottom-right-radius: 7px; }
      .menu-corner > ul > li > ul > li span {
        padding: 8px;
        white-space: nowrap;
        width: 100%; }
        .menu-corner > ul > li > ul > li span:before {
          margin-right: 5px; }
        .menu-corner > ul > li > ul > li span:hover {
          font-weight: bold;
          color: #fdfdfd;
          background: #f36d15; }
      .menu-corner > ul > li > ul > li:last-child span {
        border-bottom-left-radius: 7px;
        border-bottom-right-radius: 7px; }

/********************************************************************
*********************************************************************
*********************************************************************

                @ICONS
                components/_icons.scss

*********************************************************************
*********************************************************************
********************************************************************/
.icon-play {
  color: #00CC00; }

.icon-stop, .icon-pause {
  color: #FF0000; }

.icon-warning {
  color: #FFD600; }

td i.fa {
  font-size: 16px;
  margin-right: 4px; }
td i.fa-lock, td i.fa-unlock {
  font-size: 19px;
  vertical-align: bottom;
  height: 18px; }

.fa-centered {
  width: 100%;
  text-align: center; }

/********************************************************************
*********************************************************************
*********************************************************************

                @FORMS
                components/_forms.scss

*********************************************************************
*********************************************************************
********************************************************************/
select, option, input {
  font-size: 16px; }

option {
  padding: 40px; }

label {
  display: block;
  margin-bottom: 4px;
  font-size: x-small; }

select {
  background: white;
  height: 22px;
  padding: 4px; }
  select[name="selected_actions_select"] {
    width: auto;
    float: left;
    margin-bottom: 10px;
    width: 200px; }

.actions_button, select[name="selected_actions_select"] {
  width: 100%; }
  @media screen and (min-width: 40em) {
    .actions_button, select[name="selected_actions_select"] {
      width: auto; } }

.action-selected {
  width: 100%;
  margin-left: -4px; }

input, .button, .button2 {
  height: 25px;
  padding: 4px 8px;
  line-height: 18px; }

select, input, .button, .button2 {
  border-radius: 4px;
  border-style: solid;
  border-color: #cacaca;
  border-width: thin;
  -webkit-box-shadow: inset 1px 1px 1px 0px #dddddd;
  -moz-box-shadow: inset 1px 1px 1px 0px #dddddd;
  box-shadow: inset 1px 1px 1px 0px #dddddd;
  font-size: x-small; }

input[type="checkbox"], input[type="radio"] {
  width: 18px;
  height: 18px;
  box-shadow: none;
  border-width: 0; }
  @media screen and (min-width: 40em) {
    input[type="checkbox"], input[type="radio"] {
      width: 14px;
      height: 14px; } }

.chosen-container {
  font-size: 12px; }
  @media screen and (max-width: 40em) {
    .chosen-container {
      width: 100% !important;
      margin-bottom: 10px; } }

.chosen-container-single .chosen-single {
  height: 25px;
  line-height: 25px;
  margin-top: -2px;
  background-color: #f0f0f0;
  background-image: -moz-linear-gradient(top, #ffffff, #f0f0f0);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#f0f0f0));
  background-image: -webkit-linear-gradient(top, #ffffff, #f0f0f0);
  background-image: -o-linear-gradient(top, #ffffff, #f0f0f0);
  background-image: linear-gradient(to bottom, #ffffff, #f0f0f0); }

.chosen-container .chosen-results li.highlighted {
  background-color: #f36d15;
  background-image: none; }

.chosen-container * {
  font-weight: normal; }

/********************************************************************
*********************************************************************
*********************************************************************

                @BUTTONS
                components/_buttons.scss

*********************************************************************
*********************************************************************
********************************************************************/
/* Events */
.event {
  cursor: pointer; }

a.button, button.button {
  color: #fdfdfd;
  background-color: #e35e0c;
  background-image: -moz-linear-gradient(top, #f47a2d, #e35e0c);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#f47a2d), to(#e35e0c));
  background-image: -webkit-linear-gradient(top, #f47a2d, #e35e0c);
  background-image: -o-linear-gradient(top, #f47a2d, #e35e0c);
  background-image: linear-gradient(to bottom, #f47a2d, #e35e0c);
  background-repeat: repeat-x;
  font-size: 12px;
  border: solid 1px #f58946;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none; }
  a.button:hover, button.button:hover {
    cursor: pointer;
    font-weight: bolder; }
    a.button:hover span, button.button:hover span {
      font-weight: bold; }
    a.button:hover:before, button.button:hover:before {
      color: #fdfdfd; }
  a.button:active, button.button:active {
    color: #f0f0f0;
    background-color: #e35e0c;
    background-image: -moz-linear-gradient(top, #e35e0c, #f47a2d);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#e35e0c), to(#f47a2d));
    background-image: -webkit-linear-gradient(top, #e35e0c, #f47a2d);
    background-image: -o-linear-gradient(top, #e35e0c, #f47a2d);
    background-image: linear-gradient(to bottom, #e35e0c, #f47a2d); }
  a.button:focus, button.button:focus {
    outline: 0; }
  a.button:before, button.button:before {
    margin-right: 10px;
    color: #fdfdfd; }
a.button2, button.button2 {
  color: #f36d15;
  background-color: #f0f0f0;
  background-image: -moz-linear-gradient(top, #ffffff, #f0f0f0);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#f0f0f0));
  background-image: -webkit-linear-gradient(top, #ffffff, #f0f0f0);
  background-image: -o-linear-gradient(top, #ffffff, #f0f0f0);
  background-image: linear-gradient(to bottom, #ffffff, #f0f0f0);
  background-repeat: repeat-x;
  font-size: 12px;
  border: solid 1px #f58946;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none; }
  a.button2:hover, button.button2:hover {
    cursor: pointer;
    font-weight: bolder; }
    a.button2:hover span, button.button2:hover span {
      font-weight: bold; }
    a.button2:hover:before, button.button2:hover:before {
      color: #f36d15; }
  a.button2:active, button.button2:active {
    color: #e35e0c;
    background-color: #f0f0f0;
    background-image: -moz-linear-gradient(top, #f0f0f0, #ffffff);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#f0f0f0), to(#ffffff));
    background-image: -webkit-linear-gradient(top, #f0f0f0, #ffffff);
    background-image: -o-linear-gradient(top, #f0f0f0, #ffffff);
    background-image: linear-gradient(to bottom, #f0f0f0, #ffffff); }
  a.button2:focus, button.button2:focus {
    outline: 0; }
  a.button2:before, button.button2:before {
    margin-right: 10px;
    color: #f36d15; }
a.actions_button, button.actions_button {
  padding-top: 2px; }
  a.actions_button:before, button.actions_button:before {
    font-size: 15px !important; }
a.disabled, button.disabled {
  cursor: default; }
a.button-right, button.button-right {
  position: absolute;
  right: 0px;
  bottom: 0px; }
a.button.disabled, a.button2.disabled, button.button.disabled, button.button2.disabled {
  color: #cacaca;
  background-color: #f2f2f2;
  background-image: -moz-linear-gradient(top, #ffffff, #f2f2f2);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#f2f2f2));
  background-image: -webkit-linear-gradient(top, #ffffff, #f2f2f2);
  background-image: -o-linear-gradient(top, #ffffff, #f2f2f2);
  background-image: linear-gradient(to bottom, #ffffff, #f2f2f2);
  background-repeat: repeat-x;
  font-size: 12px;
  border: solid 1px #e4e4e4;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none; }
  a.button.disabled:hover, a.button2.disabled:hover, button.button.disabled:hover, button.button2.disabled:hover {
    cursor: default;
    font-weight: normal; }
    a.button.disabled:hover:before, a.button2.disabled:hover:before, button.button.disabled:hover:before, button.button2.disabled:hover:before {
      color: #cacaca; }
  a.button.disabled:active, a.button2.disabled:active, button.button.disabled:active, button.button2.disabled:active {
    color: #cacaca;
    background-color: #f2f2f2;
    background-image: -moz-linear-gradient(top, #ffffff, #f2f2f2);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#f2f2f2));
    background-image: -webkit-linear-gradient(top, #ffffff, #f2f2f2);
    background-image: -o-linear-gradient(top, #ffffff, #f2f2f2);
    background-image: linear-gradient(to bottom, #ffffff, #f2f2f2); }
  a.button.disabled:focus, a.button2.disabled:focus, button.button.disabled:focus, button.button2.disabled:focus {
    outline: 0; }
  a.button.disabled:before, a.button2.disabled:before, button.button.disabled:before, button.button2.disabled:before {
    color: #cacaca; }

/********************************************************************
*********************************************************************
*********************************************************************

                @LAYOUT: Grids, Wrappers...
                components/_layout.scss

*********************************************************************
*********************************************************************
********************************************************************/
/* Layout */
body {
  position: relative; }

.header-wrapper {
  height: 60px;
  border-bottom: 2px solid #d7d7d7;
  background: #e4e4e4; }
  .header-wrapper .header {
    position: relative;
    min-width: 20em;
    max-width: 40em; }
    @media screen and (min-width: 40em) {
      .header-wrapper .header {
        min-width: 960px;
        max-width: 1280px; } }
    .header-wrapper .header .logo {
      height: 55px;
      margin: 5px 0px; }

.loading {
  font-size: 75px;
  width: 75px;
  top: 45vh;
  color: #e4e4e4;
  position: absolute;
  margin: auto;
  left: 0;
  right: 0;
  bottom: 0; }
  @media screen and (min-width: 40em) {
    .loading {
      font-size: 200px;
      width: 200px;
      top: 25vh; } }

.wrapper {
  min-width: 20em;
  max-width: 40em;
  background-color: white;
  position: relative; }
  @media screen and (min-width: 40em) {
    .wrapper {
      min-width: 960px;
      max-width: 1280px; } }
  .wrapper .menu {
    margin-bottom: 10px;
    margin-top: 5px; }
    @media screen and (min-width: 40em) {
      .wrapper .menu {
        margin-top: 15px; } }
  .wrapper .breadcrumbs {
    width: 100%;
    margin-bottom: 10px;
    padding-bottom: 10px; }
    @media screen and (min-width: 40em) {
      .wrapper .breadcrumbs {
        margin-bottom: 20px;
        display: block; } }
  .wrapper .content {
    margin-bottom: 80px;
    /********************************************************************
*********************************************************************
*********************************************************************

                @LAYOUT LIST: Layout of list view
                components/_layout-list.scss

*********************************************************************
*********************************************************************
********************************************************************/
    /********************************************************************
*********************************************************************
*********************************************************************

                @LAYOUT DETAILS: Layout of details view
                components/_layout-details.scss

*********************************************************************
*********************************************************************
********************************************************************/ }
    .wrapper .content .filter {
      display: none;
      margin-bottom: 15px;
      width: 13%;
      height: auto;
      float: right;
      padding-left: 2%;
      margin-left: 2%;
      border-left: 1px dotted #d7d7d7; }
      @media screen and (min-width: 40em) {
        .wrapper .content .filter {
          display: block; } }
      .wrapper .content .filter .filter-control {
        margin-bottom: 10px;
        display: block; }
      .wrapper .content .filter hr {
        border: 0px;
        height: 1px;
        background: #d7d7d7;
        width: 100%; }
    @media screen and (min-width: 40em) {
      .wrapper .content .list-block, .wrapper .content .details-side {
        float: right;
        width: 85%; } }
    .wrapper .content .list-block .filter-mobile, .wrapper .content .details-side .filter-mobile {
      margin-bottom: 15px; }
      .wrapper .content .list-block .filter-mobile .filter-control, .wrapper .content .details-side .filter-mobile .filter-control {
        margin-bottom: 10px;
        display: block; }
    .wrapper .content .list-block .list-navigation, .wrapper .content .details-side .list-navigation {
      position: relative;
      width: 100%; }
      @media screen and (min-width: 40em) {
        .wrapper .content .list-block .list-navigation, .wrapper .content .details-side .list-navigation {
          margin-bottom: 0px; } }
      .wrapper .content .list-block .list-navigation .pagination, .wrapper .content .details-side .list-navigation .pagination {
        margin-bottom: 10px; }
        @media screen and (min-width: 40em) {
          .wrapper .content .list-block .list-navigation .pagination, .wrapper .content .details-side .list-navigation .pagination {
            margin-bottom: 10px;
            padding: 0px;
            height: auto;
            width: 45%;
            float: right; } }
      .wrapper .content .list-block .list-navigation .action-new-item, .wrapper .content .details-side .list-navigation .action-new-item {
        margin-bottom: 10px;
        margin-top: -10px; }
        @media screen and (min-width: 40em) {
          .wrapper .content .list-block .list-navigation .action-new-item, .wrapper .content .details-side .list-navigation .action-new-item {
            width: 45%;
            float: left;
            margin: 0px;
            margin-left: -4px; } }
    .wrapper .content .list-block .action-selected, .wrapper .content .details-side .action-selected {
      height: 30px;
      margin-top: 10px; }
    .wrapper .content .details-side {
      display: none;
      margin-bottom: 15px;
      width: 38%;
      height: auto;
      float: right;
      padding-left: 2%;
      margin-left: 2%;
      border-left: 1px dotted #d7d7d7; }
      @media screen and (min-width: 40em) {
        .wrapper .content .details-side {
          display: block; } }
    .wrapper .content .details-list, .wrapper .content .custom-props-container {
      padding-left: 20px; }
      .wrapper .content .details-list .details-item, .wrapper .content .custom-props-container .details-item {
        margin-bottom: 15px;
        display: block; }
        .wrapper .content .details-list .details-item:before, .wrapper .content .details-list .details-item i:before, .wrapper .content .custom-props-container .details-item:before, .wrapper .content .custom-props-container .details-item i:before {
          margin-right: 5px; }
    .wrapper .content .details-block {
      position: relative; }
      @media screen and (min-width: 40em) {
        .wrapper .content .details-block {
          float: right;
          width: 60%; } }
      @media screen and (min-width: 40em) {
        .wrapper .content .details-block .details-list {
          width: 40%; } }
      .wrapper .content .details-block .details-item {
        font-size: 13px;
        font-weight: normal; }
        .wrapper .content .details-block .details-item .indented-data {
          font-size: 14px;
          font-weight: bold;
          margin-left: 14px;
          margin-top: 6px;
          margin-bottom: 20px; }
          .wrapper .content .details-block .details-item .indented-data div {
            margin-bottom: 10px; }
      @media screen and (min-width: 40em) {
        .wrapper .content .details-block .custom-props-container {
          position: absolute;
          top: 30px;
          right: 0;
          width: 50%; } }
      .wrapper .content .details-block .custom-props-container table.custom-props {
        width: auto; }
        .wrapper .content .details-block .custom-props-container table.custom-props td:first-child {
          font-weight: normal;
          white-space: nowrap;
          width: 1%;
          padding-right: 15px; }
    .wrapper .content .remote_administration-buttons {
      margin: 25px auto; }
      .wrapper .content .remote_administration-buttons a {
        width: 50%;
        display: block;
        margin: 10px auto; }

.editor-container {
  margin: 10px 20px; }
  .editor-container .editor-table {
    width: 100%;
    border-spacing: 20px;
    border-collapse: separate; }
    .editor-container .editor-table td:first-child {
      font-weight: bold;
      min-width: 50%; }
    .editor-container .editor-table td.fa:before {
      margin-right: 10px; }
    .editor-container .editor-table .delete-property-button {
      color: #f36d15;
      cursor: pointer; }
    .editor-container .editor-table .custom-properties td {
      position: relative; }
      .editor-container .editor-table .custom-properties td .delete-property-button {
        position: absolute;
        left: -20px;
        top: 5px; }
      .editor-container .editor-table .custom-properties td .property-help {
        position: absolute;
        left: 12px;
        top: 6px;
        color: #a2a2a2;
        font-weight: normal; }

.footer {
  height: 30px;
  margin-top: 50px;
  text-align: center;
  color: #6f6f6f;
  border-top: 2px solid #d7d7d7;
  background: #e4e4e4;
  width: 100%;
  position: fixed;
  bottom: 0px;
  padding-top: 7px;
  display: none; }
  @media screen and (min-width: 40em) {
    .footer {
      display: block; } }

.dialog-container, .dialog-container-template {
  display: none; }

.dialog-container-template {
  width: 95%;
  height: 75vh; }
  @media screen and (min-width: 40em) {
    .dialog-container-template {
      width: 600px;
      height: 450px; } }

/* Responsive generic layout */
.desktop {
  display: none; }

@media screen and (min-width: 40em) {
  td.desktop, th.desktop {
    display: table-cell; }
  span.desktop, a.desktop {
    display: inline; }
  div.desktop {
    display: block; }
  .mobile {
    display: none; } }

.inline {
  display: inline; }

/********************************************************************
*********************************************************************
*********************************************************************

                @TABLES
                components/_tables.scss

*********************************************************************
*********************************************************************
********************************************************************/
/* Table list */
table.list, table.custom-props {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  background-color: #fdfdfd;
  border: 1px solid #ddd;
  border-radius: 4px;
  border-collapse: separate; }
  table.list th, table.custom-props th {
    font-weight: bold;
    text-align: left;
    border-bottom: #ccc solid 1px; }
    table.list th .sort-icon, table.custom-props th .sort-icon {
      float: right; }
    table.list th.sortable, table.custom-props th.sortable {
      cursor: pointer; }
    table.list th.sorted, table.custom-props th.sorted {
      background-color: #f36d15;
      color: #fdfdfd; }
  table.list td, table.list th, table.custom-props td, table.custom-props th {
    padding: 6px 8px;
    border-right: dotted 1px #e4e4e4; }
    table.list td:last-child, table.list th:last-child, table.custom-props td:last-child, table.custom-props th:last-child {
      border-right: 0px; }
  table.list > tbody > tr:nth-child(even), table.custom-props > tbody > tr:nth-child(even) {
    background-color: #fdfdfd; }
  table.list > tbody > tr:nth-child(odd), table.custom-props > tbody > tr:nth-child(odd) {
    background-color: #f3f3f3; }
  table.list tr:last-child td:first-child, table.custom-props tr:last-child td:first-child {
    border-bottom-left-radius: 4px; }
  table.list tr:last-child td:last-child, table.custom-props tr:last-child td:last-child {
    border-bottom-right-radius: 4px; }

.second_row {
  font-size: x-small;
  margin-top: 4px; }

td.center {
  text-align: center; }

.max-1-icons {
  width: 39px;
  min-width: 39px; }

.max-2-icons {
  width: 61px;
  min-width: 61px; }

.max-3-icons {
  width: 83px;
  min-width: 83px; }

.max-4-icons {
  width: 105px;
  min-width: 105px; }

.max-5-icons {
  width: 127px;
  min-width: 127px; }

.max-6-icons {
  width: 149px;
  min-width: 149px; }

/********************************************************************
*********************************************************************
*********************************************************************

                @FILTERS
                components/_filters.scss

*********************************************************************
*********************************************************************
********************************************************************/
.filter-control {
  float: left;
  margin-right: 20px;
  width: 100%; }
  .filter-control input[type="text"], .filter-control input[type="password"], .filter-control select {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%; }

[name="filter_button"] {
  margin-top: 20px;
  float: right; }

/********************************************************************
*********************************************************************
*********************************************************************

                @PAGINATION
                components/_pagination.scss

*********************************************************************
*********************************************************************
********************************************************************/
.pagination {
  font-size: 12px;
  text-align: right; }
  .pagination a {
    height: 25px; }
    .pagination a.prev, .pagination a.next {
      font-size: 17px;
      vertical-align: bottom; }
    .pagination a:before {
      margin-right: 2px; }

/********************************************************************
*********************************************************************
*********************************************************************

                @THIRDS: Third party libraries overrided styles
                components/_thirds.scss

*********************************************************************
*********************************************************************
********************************************************************/
.ui-dialog {
  z-index: 1002; }
  .ui-dialog .ui-dialog-titlebar {
    background: #f36d15;
    text-align: center;
    padding: 5px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0; }
    .ui-dialog .ui-dialog-titlebar .ui-dialog-titlebar-close {
      display: none; }
  .ui-dialog .ui-state-hover, .ui-dialog .ui-state-focus {
    color: #fdfdfd;
    background-color: #e35e0c;
    background-image: -moz-linear-gradient(top, #f47a2d, #e35e0c);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#f47a2d), to(#e35e0c));
    background-image: -webkit-linear-gradient(top, #f47a2d, #e35e0c);
    background-image: -o-linear-gradient(top, #f47a2d, #e35e0c);
    background-image: linear-gradient(to bottom, #f47a2d, #e35e0c);
    background-repeat: repeat-x;
    font-size: 12px;
    border: solid 1px #f58946;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none; }
    .ui-dialog .ui-state-hover:hover, .ui-dialog .ui-state-focus:hover {
      cursor: pointer;
      font-weight: bolder; }
      .ui-dialog .ui-state-hover:hover span, .ui-dialog .ui-state-focus:hover span {
        font-weight: bold; }
      .ui-dialog .ui-state-hover:hover:before, .ui-dialog .ui-state-focus:hover:before {
        color: #fdfdfd; }
    .ui-dialog .ui-state-hover:active, .ui-dialog .ui-state-focus:active {
      color: #f0f0f0;
      background-color: #e35e0c;
      background-image: -moz-linear-gradient(top, #e35e0c, #f47a2d);
      background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#e35e0c), to(#f47a2d));
      background-image: -webkit-linear-gradient(top, #e35e0c, #f47a2d);
      background-image: -o-linear-gradient(top, #e35e0c, #f47a2d);
      background-image: linear-gradient(to bottom, #e35e0c, #f47a2d); }
    .ui-dialog .ui-state-hover:focus, .ui-dialog .ui-state-focus:focus {
      outline: 0; }
    .ui-dialog .ui-state-hover:before, .ui-dialog .ui-state-focus:before {
      margin-right: 10px;
      color: #fdfdfd; }
  .ui-dialog .ui-dialog-buttonset {
    padding: 10px;
    text-align: right; }
    .ui-dialog .ui-dialog-buttonset .button {
      margin-left: 30px; }
      .ui-dialog .ui-dialog-buttonset .button .ui-button-text:before {
        margin-right: 10px; }
  .ui-dialog .dialog-container {
    overflow-y: auto; }

.ui-widget-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 1001; }

.ui-widget-content {
  background: #fdfdfd; }

.ui-dialog {
  top: 50px !important;
  overflow-y: auto;
  padding: 1px;
  margin-bottom: 50px;
  width: 95% !important;
  height: 75vh !important; }
  @media screen and (min-width: 40em) {
    .ui-dialog {
      width: 600px !important;
      height: 450px !important;
      height: auto !important; } }
  .ui-dialog td {
    display: block;
    padding-bottom: 5px; }
    @media screen and (min-width: 40em) {
      .ui-dialog td {
        display: table-cell; } }
    .ui-dialog td input[type="text"], .ui-dialog td input[type="password"] {
      width: 100%; }
      @media screen and (min-width: 40em) {
        .ui-dialog td input[type="text"], .ui-dialog td input[type="password"] {
          width: auto; } }
    @media screen and (min-width: 40em) {
      .ui-dialog td:first-child {
        text-align: right;
        width: 120px;
        white-space: nowrap; } }
    @media screen and (min-width: 40em) {
      .ui-dialog td:last-child input[type="text"], .ui-dialog td:last-child input[type="password"] {
        width: 100%; } }

.xdsoft_datetimepicker .xdsoft_calendar td > div {
  padding: 6px; }
.xdsoft_datetimepicker .xdsoft_calendar th {
  padding-top: 6px !important; }

.xdsoft_datetimepicker .xdsoft_calendar td:hover, .xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_time_box > div > div:hover {
  background: #f36d15 !important; }

.xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_default, .xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_current, .xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_time_box > div > div.xdsoft_current {
  background: #9a4008;
  box-shadow: #6a2c05 0px 1px 3px 0px inset; }

/*# sourceMappingURL=style.css.map */