/* INCLUDED: variables */
/* INCLUDED: place_holders */
.wrapper .content::after, .wrapper .content .list-block .list-navigation::after, .wrapper .content .details-side .list-navigation::after, .wrapper .content .list-block .list-navigation .action-new-item::after, .wrapper .content .details-side .list-navigation .action-new-item::after, .wrapper .content .list-block .action-selected::after, .wrapper .content .details-side .action-selected::after, .footer::after, .wrapper .content::before, .wrapper .content .list-block .list-navigation::before, .wrapper .content .details-side .list-navigation::before, .wrapper .content .list-block .list-navigation .action-new-item::before, .wrapper .content .details-side .list-navigation .action-new-item::before, .wrapper .content .list-block .action-selected::before, .wrapper .content .details-side .action-selected::before, .footer::before {
  content: "";
  clear: both; }
.wrapper .content::after, .wrapper .content .list-block .list-navigation::after, .wrapper .content .details-side .list-navigation::after, .wrapper .content .list-block .list-navigation .action-new-item::after, .wrapper .content .details-side .list-navigation .action-new-item::after, .wrapper .content .list-block .action-selected::after, .wrapper .content .details-side .action-selected::after, .footer::after {
  display: table; }

.header-wrapper .header, .wrapper {
  width: 100%;
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px; }

.not-selectable, .menu > ul .menu-option, a.button, button.button, a.button2, button.button2, a.button.disabled, a.button2.disabled, button.button.disabled, button.button2.disabled, table.list th, table.custom-props th, .ui-dialog .ui-state-hover, .ui-dialog .ui-state-focus {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

.menu-corner, .header-wrapper, .wrapper, .wrapper .menu, .wrapper .breadcrumbs, .wrapper .content, .footer {
  visibility: hidden; }


*:focus, .ui-dialog {
  outline-width: 0;
  outline: none;
  -moz-outline: none;
  -moz-user-focus: ignore;
  box-shadow: 0;
  border: 0; }

/* INCLUDED: mixins */
/********************************************************************
*********************************************************************
*********************************************************************

                @RESET: Based on Eric Meyer's Reset 2.0
                components/_reset.scss

*********************************************************************
*********************************************************************
********************************************************************/
/**
 * Eric Meyer's Reset CSS v2.0 (http://meyerweb.com/eric/tools/css/reset/)
 * http://cssreset.com
 */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/* Added by me */
*, *::after, *::before {
  box-sizing: border-box; }


:focus {
  box-shadow: 1 1 1px 0px #f36d15; }

/********************************************************************
*********************************************************************
*********************************************************************

                @GENERAL: Styles that affect general group of elements
                components/_general.scss

*********************************************************************
*********************************************************************
********************************************************************/
body {
  background: #fdfdfd; }

a {
  color: #f36d15;
  text-decoration: none;
  font-weight: bold; }
  a i.hover {
    color: #222222; }

a:hover i:before {
  color: #222222; }

.hidden {
  display: none; }

.invisible {
  visibility: hidden; }

.relative {
  position: relative; }

fieldset {
  padding: 8px;
  border: 1px solid #fde6d7;
  border-radius: 6px; }
  fieldset legend {
    color: #909090;
    text-align: right; }

.h1 {
  position: relative;
  margin-bottom: 15px; }
  .h1 .subtitle {
    color: #a2a2a2; }
  .h1 .fa:before {
    margin-right: 5px; }

.h2 {
  color: #888888;
  margin-bottom: 14px; }


.center {
  text-align: center; }

.ok {
  color: #009900; }

.warning {
  color: #ccaa00; }

.error {
  color: #cc0000; }

.no-elements {
  font-style: italic;
  font-weight: normal;
  color: #555555; }

/********************************************************************
*********************************************************************
*********************************************************************

                @MENU
                components/_menu.scss

*********************************************************************
*********************************************************************
********************************************************************/
.menu {
  display: none; }
  @media screen and (min-device-width: 40em) {
    .menu {
      display: block; } }
  .menu > ul .menu-option {
    display: block;
    min-width: 100px;
    padding: 8px 12px 8px 12px;
    background: #fdfdfd;
    color: #222222;
    border: 1px solid #f8a876;
    cursor: pointer; }
    @media screen and (min-device-width: 40em) {
      .menu > ul .menu-option {
        display: inline; } }
    .menu > ul .menu-option:last-child {
      border-bottom-left-radius: 7px;
      border-bottom-right-radius: 7px; }
    .menu > ul .menu-option:first-child {
      border-top-left-radius: 7px;
      border-top-right-radius: 7px; }
    @media screen and (min-device-width: 40em) {
      .menu > ul .menu-option:last-child {
        border-bottom-left-radius: 0;
        border-top-right-radius: 7px;
        border-bottom-right-radius: 7px; }
      .menu > ul .menu-option:first-child {
        border-top-right-radius: 0;
        border-top-left-radius: 7px;
        border-bottom-left-radius: 7px; } }
    .menu > ul .menu-option .fa {
      font-size: 18px;
      margin-right: 10px; }
    .menu > ul .menu-option span {
      vertical-align: bottom; }
    @media screen and (min-device-width: 40em) {
      .menu > ul .menu-option:active {
        margin-bottom: -2px;
        margin-top: 1px; } }
  .menu > ul .menu-option--selected, .menu > ul .menu-option:hover {
    background: #f36d15;
    color: #fdfdfd;
    border: 1px solid transparent; }
  .menu > ul .menu-option--selected {
    font-weight: bold; }
    .menu > ul .menu-option--selected span {
      vertical-align: baseline; }
    .menu > ul .menu-option--selected:active {
      margin: 0px; }

.menu-corner {
  z-index: 1000;
  position: absolute;
  top: 10px;
  right: 80px;
  display: none; }
  @media screen and (min-device-width: 40em) {
    .menu-corner {
      right: 20px;
      display: block; } }
  .menu-corner > ul > li {
    display: inline;
    margin: 5px;
    position: relative;
    cursor: default; }
    .menu-corner > ul > li > ul {
      border: solid 1px #fac7a7;
      background: #fdfdfd;
      opacity: 0.9;
      display: none;
      position: absolute;
      left: -9px;
      border-bottom-left-radius: 7px;
      border-bottom-right-radius: 7px; }
      .menu-corner > ul > li > ul > li span {
        padding: 8px;
        white-space: nowrap;
        width: 100%; }
        .menu-corner > ul > li > ul > li span:before {
          margin-right: 5px; }
        .menu-corner > ul > li > ul > li span:hover {
          font-weight: bold;
          color: #fdfdfd;
          background: #f36d15; }
      .menu-corner > ul > li > ul > li:last-child span {
        border-bottom-left-radius: 7px;
        border-bottom-right-radius: 7px; }

.mobile-menu {
  cursor: pointer;
  position: absolute;
  top: 5px;
  right: 20px;
  font-size: 50px; }
  @media screen and (min-device-width: 40em) {
    .mobile-menu {
      display: none; } }

/********************************************************************
*********************************************************************
*********************************************************************

                @ICONS
                components/_icons.scss

*********************************************************************
*********************************************************************
********************************************************************/
.icon-play {
  color: #00CC00; }

.icon-stop, .icon-pause {
  color: #FF0000; }

.icon-warning {
  color: #FFD600; }

td i.fa {
  font-size: 20px;
  margin-right: 4px; }
  @media screen and (min-device-width: 40em) {
    td i.fa {
      font-size: 16px; } }
td i.fa-lock, td i.fa-unlock {
  font-size: 23px;
  vertical-align: bottom;
  height: 18px; }
  @media screen and (min-device-width: 40em) {
    td i.fa-lock, td i.fa-unlock {
      font-size: 19px; } }

.fa-centered {
  width: 100%;
  text-align: center; }

/********************************************************************
*********************************************************************
*********************************************************************

                @FORMS
                components/_forms.scss

*********************************************************************
*********************************************************************
********************************************************************/
option {
  padding: 40px; }

label {
  display: block;
  margin-bottom: 4px; }

select {
  background: white;
  min-height: 22px;
  padding: 4px;
  -webkit-appearance: normal; }
  select[name="selected_actions_select"] {
    width: auto;
    float: left;
    margin-bottom: 10px; }

.actions_button, select[name="selected_actions_select"] {
  width: 100%;
  height: 60px;
  font-size: 2em;
  line-height: 2em;
  border: 1px solid #cacaca; }
  @media screen and (min-device-width: 40em) {
    .actions_button, select[name="selected_actions_select"] {
      font-size: 1.1em;
      line-height: 1.1em; } }
  @media screen and (min-device-width: 40em) {
    .actions_button, select[name="selected_actions_select"] {
      width: auto;
      height: 25px; } }

.action-selected {
  width: 100%;
  margin-left: -4px; }

input, .button, .button2 {
  padding: 4px 8px;
  line-height: 25px;
  border: 1px solid #cacaca; }

input {
  line-height: 20px; }

.button, .button2 {
  line-height: 25px; }

select, input, .button, .button2 {
  border-radius: 4px;
  border-style: solid;
  border-color: #cacaca;
  border-width: thin;
  -webkit-box-shadow: inset 1px 1px 1px 0px #dddddd;
  -moz-box-shadow: inset 1px 1px 1px 0px #dddddd;
  box-shadow: inset 1px 1px 1px 0px #dddddd; }

input[type="checkbox"], input[type="radio"] {
  width: 28px;
  height: 28px;
  box-shadow: none;
  border-width: 0; }
  @media screen and (min-device-width: 40em) {
    input[type="checkbox"], input[type="radio"] {
      width: 14px;
      height: 14px; } }

@media only screen and (max-device-width: 40em) {
  .chosen-container {
    width: 100% !important;
    margin-bottom: 10px; } }

.chosen-container-single .chosen-single {
  height: 25px;
  line-height: 25px;
  margin-top: -2px;
  background-color: #f0f0f0;
  background-image: -moz-linear-gradient(top, #ffffff, #f0f0f0);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#f0f0f0));
  background-image: -webkit-linear-gradient(top, #ffffff, #f0f0f0);
  background-image: -o-linear-gradient(top, #ffffff, #f0f0f0);
  background-image: linear-gradient(to bottom, #ffffff, #f0f0f0); }

.chosen-container .chosen-results li.highlighted {
  background-color: #f36d15;
  background-image: none; }

.chosen-container * {
  font-weight: normal; }

/********************************************************************
*********************************************************************
*********************************************************************

                @BUTTONS
                components/_buttons.scss

*********************************************************************
*********************************************************************
********************************************************************/
/* Events */
.event {
  cursor: pointer; }

a.button, button.button {
  color: #fdfdfd;
  background-color: #e35e0c;
  background-image: -moz-linear-gradient(top, #f47a2d, #e35e0c);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#f47a2d), to(#e35e0c));
  background-image: -webkit-linear-gradient(top, #f47a2d, #e35e0c);
  background-image: -o-linear-gradient(top, #f47a2d, #e35e0c);
  background-image: linear-gradient(to bottom, #f47a2d, #e35e0c);
  background-repeat: repeat-x;
  font-size: 2em;
  line-height: 2em;
  border: solid 1px #f58946;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none; }
  @media screen and (min-device-width: 40em) {
    a.button, button.button {
      font-size: 1.1em;
      line-height: 1.1em; } }
  a.button:hover, button.button:hover {
    cursor: pointer;
    font-weight: bolder; }
    a.button:hover span, button.button:hover span {
      font-weight: bold; }
    a.button:hover:before, button.button:hover:before {
      color: #fdfdfd; }
  a.button:active, button.button:active {
    color: #f0f0f0;
    background-color: #e35e0c;
    background-image: -moz-linear-gradient(top, #e35e0c, #f47a2d);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#e35e0c), to(#f47a2d));
    background-image: -webkit-linear-gradient(top, #e35e0c, #f47a2d);
    background-image: -o-linear-gradient(top, #e35e0c, #f47a2d);
    background-image: linear-gradient(to bottom, #e35e0c, #f47a2d); }
  a.button:focus, button.button:focus {
    outline: 0; }
  a.button:before, button.button:before {
    margin-right: 10px;
    color: #fdfdfd; }
a.button2, button.button2 {
  color: #f36d15;
  background-color: #f0f0f0;
  background-image: -moz-linear-gradient(top, #ffffff, #f0f0f0);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#f0f0f0));
  background-image: -webkit-linear-gradient(top, #ffffff, #f0f0f0);
  background-image: -o-linear-gradient(top, #ffffff, #f0f0f0);
  background-image: linear-gradient(to bottom, #ffffff, #f0f0f0);
  background-repeat: repeat-x;
  font-size: 2em;
  line-height: 2em;
  border: solid 1px #f58946;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none; }
  @media screen and (min-device-width: 40em) {
    a.button2, button.button2 {
      font-size: 1.1em;
      line-height: 1.1em; } }
  a.button2:hover, button.button2:hover {
    cursor: pointer;
    font-weight: bolder; }
    a.button2:hover span, button.button2:hover span {
      font-weight: bold; }
    a.button2:hover:before, button.button2:hover:before {
      color: #f36d15; }
  a.button2:active, button.button2:active {
    color: #e35e0c;
    background-color: #f0f0f0;
    background-image: -moz-linear-gradient(top, #f0f0f0, #ffffff);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#f0f0f0), to(#ffffff));
    background-image: -webkit-linear-gradient(top, #f0f0f0, #ffffff);
    background-image: -o-linear-gradient(top, #f0f0f0, #ffffff);
    background-image: linear-gradient(to bottom, #f0f0f0, #ffffff); }
  a.button2:focus, button.button2:focus {
    outline: 0; }
  a.button2:before, button.button2:before {
    margin-right: 10px;
    color: #f36d15; }
a.disabled, button.disabled {
  cursor: default; }
a.button-right, button.button-right {
  position: absolute;
  right: 0px;
  top: 0px; }
a.button.disabled, a.button2.disabled, button.button.disabled, button.button2.disabled {
  color: #cacaca;
  background-color: #f2f2f2;
  background-image: -moz-linear-gradient(top, #ffffff, #f2f2f2);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#f2f2f2));
  background-image: -webkit-linear-gradient(top, #ffffff, #f2f2f2);
  background-image: -o-linear-gradient(top, #ffffff, #f2f2f2);
  background-image: linear-gradient(to bottom, #ffffff, #f2f2f2);
  background-repeat: repeat-x;
  font-size: 2em;
  line-height: 2em;
  border: solid 1px #e4e4e4;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none; }
  @media screen and (min-device-width: 40em) {
    a.button.disabled, a.button2.disabled, button.button.disabled, button.button2.disabled {
      font-size: 1.1em;
      line-height: 1.1em; } }
  a.button.disabled:hover, a.button2.disabled:hover, button.button.disabled:hover, button.button2.disabled:hover {
    cursor: default;
    font-weight: normal; }
    a.button.disabled:hover:before, a.button2.disabled:hover:before, button.button.disabled:hover:before, button.button2.disabled:hover:before {
      color: #cacaca; }
  a.button.disabled:active, a.button2.disabled:active, button.button.disabled:active, button.button2.disabled:active {
    color: #cacaca;
    background-color: #f2f2f2;
    background-image: -moz-linear-gradient(top, #ffffff, #f2f2f2);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#f2f2f2));
    background-image: -webkit-linear-gradient(top, #ffffff, #f2f2f2);
    background-image: -o-linear-gradient(top, #ffffff, #f2f2f2);
    background-image: linear-gradient(to bottom, #ffffff, #f2f2f2); }
  a.button.disabled:focus, a.button2.disabled:focus, button.button.disabled:focus, button.button2.disabled:focus {
    outline: 0; }
  a.button.disabled:before, a.button2.disabled:before, button.button.disabled:before, button.button2.disabled:before {
    color: #cacaca; }

/********************************************************************
*********************************************************************
*********************************************************************

                @LAYOUT: Grids, Wrappers...
                components/_layout.scss

*********************************************************************
*********************************************************************
********************************************************************/
/* Layout */
body {
  position: relative; }
  @media only screen and (max-device-width: 40em) {
    body {
      zoom: 2; } }

@media only screen and (max-device-width: 40em) {
  * {
    max-width: 480px !important;
    min-width: 0 !important; } }

.header-wrapper {
  height: 60px;
  border-bottom: 2px solid #d7d7d7;
  background: #e4e4e4;
  width: 200%; }
  @media screen and (min-device-width: 40em) {
    .header-wrapper {
      width: 100%; } }
  .header-wrapper .header {
    position: relative;
    min-width: 0px;
    max-width: 40em;
    width: 200%;
    width: 200%; }
    @media screen and (min-device-width: 40em) {
      .header-wrapper .header {
        min-width: 960px;
        max-width: 1280px;
        width: 100%; } }
    @media screen and (min-device-width: 40em) {
      .header-wrapper .header {
        width: 100%; } }
    .header-wrapper .header .logo {
      height: 55px;
      margin: 5px 0px; }

.loading {
  font-size: 75px;
  width: 75px;
  top: 25vh;
  color: #e4e4e4;
  margin: 50px auto; }
  @media screen and (min-device-width: 40em) {
    .loading {
      font-size: 200px;
      width: 200px;
      top: 25vh; } }

.mini-loading {
  font-size: 45px;
  width: 100%;
  margin-top: 40px;
  text-align: center;
  color: #e4e4e4; }

.wrapper {
  min-width: 0px;
  max-width: 40em;
  width: 200%;
  width: 200%;
  background-color: white;
  position: relative; }
  @media screen and (min-device-width: 40em) {
    .wrapper {
      min-width: 960px;
      max-width: 1280px;
      width: 100%; } }
  @media screen and (min-device-width: 40em) {
    .wrapper {
      width: 100%; } }
  .wrapper .menu {
    margin-bottom: 10px;
    margin-top: 5px; }
    @media screen and (min-device-width: 40em) {
      .wrapper .menu {
        margin-top: 15px; } }
  .wrapper .breadcrumbs {
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
    padding-bottom: 10px;
    border-bottom: dotted 1px #d7d7d7; }
    @media screen and (min-device-width: 40em) {
      .wrapper .breadcrumbs {
        margin-top: 15px;
        margin-bottom: 20px;
        display: block; } }
  .wrapper .message-container {
    position: absolute;
    top: -10px;
    right: 10px;
    width: 40%;
    padding: 12px 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    opacity: 0.95;
    border-top: 0px;
    color: #fdfdfd;
    font-weight: bold;
    z-index: 999;
    display: none; }
    @media screen and (min-device-width: 40em) {
      .wrapper .message-container {
        top: -15px; } }
    .wrapper .message-container.success {
      background: #00b300; }
    .wrapper .message-container.error {
      background: #e60000; }
    .wrapper .message-container.info {
      background: #5577ff; }
    .wrapper .message-container.warning {
      background: #e6bf00; }
    .wrapper .message-container .message-close {
      position: absolute;
      top: 6px;
      right: 8px;
      font-size: 24px;
      cursor: pointer; }
  .wrapper .content {
    margin-bottom: 180px;
    /********************************************************************
*********************************************************************
*********************************************************************

                @LAYOUT LIST: Layout of list view
                components/_layout-list.scss

*********************************************************************
*********************************************************************
********************************************************************/
    /********************************************************************
*********************************************************************
*********************************************************************

                @LAYOUT DETAILS: Layout of details view
                components/_layout-details.scss

*********************************************************************
*********************************************************************
********************************************************************/ }
    @media screen and (min-device-width: 40em) {
      .wrapper .content {
        margin-bottom: 80px; } }
    .wrapper .content .filter {
      display: none;
      margin-bottom: 15px;
      width: 13%;
      height: auto;
      float: right;
      padding-left: 2%;
      margin-left: 2%;
      border-left: 1px dotted #d7d7d7; }
      @media screen and (min-device-width: 40em) {
        .wrapper .content .filter {
          display: block; } }
      .wrapper .content .filter .filter-control {
        margin-bottom: 10px;
        display: block; }
      .wrapper .content .filter hr {
        border: 0px;
        height: 1px;
        background: #d7d7d7;
        width: 100%; }
    @media screen and (min-device-width: 40em) {
      .wrapper .content .list-block, .wrapper .content .details-side {
        float: right;
        width: 85%; } }
    .wrapper .content .list-block .filter-mobile, .wrapper .content .details-side .filter-mobile {
      margin-bottom: 15px; }
      .wrapper .content .list-block .filter-mobile .filter-control, .wrapper .content .details-side .filter-mobile .filter-control {
        margin-bottom: 10px;
        display: block; }
    .wrapper .content .list-block .list-navigation, .wrapper .content .details-side .list-navigation {
      position: relative;
      width: 100%; }
      @media screen and (min-device-width: 40em) {
        .wrapper .content .list-block .list-navigation, .wrapper .content .details-side .list-navigation {
          margin-bottom: 0px; } }
      .wrapper .content .list-block .list-navigation .pagination, .wrapper .content .details-side .list-navigation .pagination {
        margin-bottom: 10px; }
        @media screen and (min-device-width: 40em) {
          .wrapper .content .list-block .list-navigation .pagination, .wrapper .content .details-side .list-navigation .pagination {
            margin-bottom: 10px;
            padding: 0px;
            height: auto;
            width: 45%;
            float: right; } }
      .wrapper .content .list-block .list-navigation .action-new-item, .wrapper .content .details-side .list-navigation .action-new-item {
        margin-bottom: 10px;
        margin-top: -10px; }
        @media screen and (min-device-width: 40em) {
          .wrapper .content .list-block .list-navigation .action-new-item, .wrapper .content .details-side .list-navigation .action-new-item {
            width: 45%;
            float: left;
            margin: 0px;
            margin-left: -4px; } }
    .wrapper .content .list-block .action-selected, .wrapper .content .details-side .action-selected {
      height: 30px;
      margin-top: 10px; }
    .wrapper .content .details-side {
      display: none;
      margin-bottom: 15px;
      width: 48%;
      height: auto;
      float: right;
      padding-left: 2%;
      margin-left: 2%;
      border-left: 1px dotted #d7d7d7; }
      @media screen and (min-device-width: 40em) {
        .wrapper .content .details-side {
          display: block; } }
    .wrapper .content .details-header, .wrapper .content .side-header {
      position: relative;
      height: 40px; }
      .wrapper .content .details-header span:before, .wrapper .content .side-header span:before {
        margin-right: 8px;
        margin-left: 6px; }
    .wrapper .content .details-list, .wrapper .content .custom-props-container {
      padding-left: 20px; }
      .wrapper .content .details-list .details-item, .wrapper .content .custom-props-container .details-item {
        margin-bottom: 15px;
        display: block; }
        .wrapper .content .details-list .details-item:before, .wrapper .content .details-list .details-item i:before, .wrapper .content .custom-props-container .details-item:before, .wrapper .content .custom-props-container .details-item i:before {
          margin-right: 5px; }
    .wrapper .content .details-block {
      position: relative; }
      @media screen and (min-device-width: 40em) {
        .wrapper .content .details-block {
          float: right;
          width: 50%; } }
      @media screen and (min-device-width: 40em) {
        .wrapper .content .details-block .details-list {
          width: 50%; } }
      .wrapper .content .details-block .details-item .indented-data {
        margin-left: 12px;
        margin-top: 6px;
        margin-bottom: 20px; }
        .wrapper .content .details-block .details-item .indented-data div {
          margin-bottom: 10px; }
      @media screen and (min-device-width: 40em) {
        .wrapper .content .details-block .custom-props-container {
          position: absolute;
          top: 30px;
          right: 0;
          width: 50%; } }
      .wrapper .content .details-block .custom-props-container table.custom-props {
        width: auto; }
        .wrapper .content .details-block .custom-props-container table.custom-props td:first-child {
          font-weight: normal;
          white-space: nowrap;
          width: 1%;
          padding-right: 15px; }
    .wrapper .content .remote-administration-wrapper {
      width: 100%;
      margin-top: 10px;
      margin-bottom: 20px; }
      .wrapper .content .remote-administration-wrapper .remote-administration-state {
        width: 49%;
        text-align: center;
        display: inline-block;
        font-size: 2em;
        line-height: 2em; }
        @media screen and (min-device-width: 40em) {
          .wrapper .content .remote-administration-wrapper .remote-administration-state {
            font-size: 1.1em;
            line-height: 1.1em; } }
        .wrapper .content .remote-administration-wrapper .remote-administration-state div {
          margin-bottom: 15px; }
          .wrapper .content .remote-administration-wrapper .remote-administration-state div.fa {
            font-size: 40px; }
          .wrapper .content .remote-administration-wrapper .remote-administration-state div:last-child {
            margin-bottom: 0px; }
      .wrapper .content .remote-administration-wrapper .remote-administration-buttons {
        width: 49%;
        display: inline-block;
        vertical-align: bottom; }
        .wrapper .content .remote-administration-wrapper .remote-administration-buttons a {
          width: 100%;
          display: block;
          margin-bottom: 12px; }
          .wrapper .content .remote-administration-wrapper .remote-administration-buttons a:last-child {
            margin-bottom: 0px; }

.editor-container {
  margin: 10px 20px; }
  .editor-container .editor-table {
    width: 100%;
    border-spacing: 20px;
    border-collapse: separate; }
    .editor-container .editor-table td {
      padding-top: 4px; }
    .editor-container .editor-table td:first-child {
      font-weight: bold;
      min-width: 50%;
      vertical-align: middle; }
    .editor-container .editor-table td.fa:before {
      margin-right: 10px; }
    .editor-container .editor-table .delete-property-button {
      color: #f36d15;
      cursor: pointer; }
    .editor-container .editor-table .custom-properties td {
      position: relative; }
      .editor-container .editor-table .custom-properties td .delete-property-button {
        position: absolute;
        left: -20px; }
      .editor-container .editor-table .custom-properties td .property-help {
        position: absolute;
        left: 12px;
        top: 14px;
        color: #a2a2a2;
        font-weight: normal; }

.footer {
  height: 30px;
  margin-top: 50px;
  text-align: center;
  color: #6f6f6f;
  border-top: 2px solid #d7d7d7;
  background: #e4e4e4;
  width: 100%;
  position: fixed;
  bottom: 0px;
  padding-top: 7px;
  display: none; }
  @media screen and (min-device-width: 40em) {
    .footer {
      display: block; } }

.separator {
  width: 100%;
  margin-top: 15px;
  margin-bottom: 20px;
  border-bottom: dotted 1px #d7d7d7; }

/* Responsive generic layout */
.desktop {
  display: none; }

@media screen and (min-device-width: 40em) {
  td.desktop, th.desktop {
    display: table-cell; }
  span.desktop, a.desktop {
    display: inline; }
  div.desktop {
    display: block; }
  .mobile {
    display: none; } }

.inline {
  display: inline; }

/********************************************************************
*********************************************************************
*********************************************************************

                @TABLES
                components/_tables.scss

*********************************************************************
*********************************************************************
********************************************************************/
/* Table list */
table.list, table.custom-props {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  background-color: #fdfdfd;
  border: 1px solid #ddd;
  border-radius: 4px;
  border-collapse: separate; }
  table.list th, table.custom-props th {
    font-weight: bold;
    text-align: left;
    border-bottom: #ccc solid 1px; }
    table.list th .sort-icon, table.custom-props th .sort-icon {
      float: right; }
    table.list th.sortable, table.custom-props th.sortable {
      cursor: pointer; }
    table.list th.sorted, table.custom-props th.sorted {
      background-color: #f36d15;
      color: #fdfdfd; }
    table.list th i, table.custom-props th i {
      width: 100%;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      font-weight: bold; }
      table.list th i:before, table.custom-props th i:before {
        float: right;
        margin-left: 5px;
        font-weight: normal; }
  table.list td, table.list th, table.custom-props td, table.custom-props th {
    padding: 6px 8px;
    border-right: dotted 1px #e4e4e4; }
    table.list td:last-child, table.list th:last-child, table.custom-props td:last-child, table.custom-props th:last-child {
      border-right: 0px; }
  table.list > tbody > tr:nth-child(even), table.custom-props > tbody > tr:nth-child(even) {
    background-color: #fdfdfd; }
  table.list > tbody > tr:nth-child(odd), table.custom-props > tbody > tr:nth-child(odd) {
    background-color: #f3f3f3; }
  table.list tr:last-child td:first-child, table.custom-props tr:last-child td:first-child {
    border-bottom-left-radius: 4px; }
  table.list tr:last-child td:last-child, table.custom-props tr:last-child td:last-child {
    border-bottom-right-radius: 4px; }

@media screen and (min-device-width: 40em) {
  table.list, table.custom-props {
    table-layout: fixed; } }

table.expiration-table {
  table-layout: auto; }

.second_row {
  margin-top: 4px; }

td.center {
  text-align: center; }

.max-1-icons {
  width: 39px;
  min-width: 39px; }
  @media screen and (min-device-width: 40em) {
    .max-1-icons {
      width: 43px;
      min-width: 43px; } }

.max-2-icons {
  width: 61px;
  min-width: 61px; }
  @media screen and (min-device-width: 40em) {
    .max-2-icons {
      width: 69px;
      min-width: 69px; } }

.max-3-icons {
  width: 83px;
  min-width: 83px; }
  @media screen and (min-device-width: 40em) {
    .max-3-icons {
      width: 95px;
      min-width: 95px; } }

.max-4-icons {
  width: 105px;
  min-width: 105px; }
  @media screen and (min-device-width: 40em) {
    .max-4-icons {
      width: 121px;
      min-width: 121px; } }

.max-5-icons {
  width: 127px;
  min-width: 127px; }
  @media screen and (min-device-width: 40em) {
    .max-5-icons {
      width: 147px;
      min-width: 147px; } }

.max-6-icons {
  width: 149px;
  min-width: 149px; }
  @media screen and (min-device-width: 40em) {
    .max-6-icons {
      width: 173px;
      min-width: 173px; } }

.col-width-1 {
  width: 1%; }

.col-width-2 {
  width: 2%; }

.col-width-3 {
  width: 3%; }

.col-width-4 {
  width: 4%; }

.col-width-5 {
  width: 5%; }

.col-width-6 {
  width: 6%; }

.col-width-7 {
  width: 7%; }

.col-width-8 {
  width: 8%; }

.col-width-9 {
  width: 9%; }

.col-width-10 {
  width: 10%; }

.col-width-11 {
  width: 11%; }

.col-width-12 {
  width: 12%; }

.col-width-13 {
  width: 13%; }

.col-width-14 {
  width: 14%; }

.col-width-15 {
  width: 15%; }

.col-width-16 {
  width: 16%; }

.col-width-17 {
  width: 17%; }

.col-width-18 {
  width: 18%; }

.col-width-19 {
  width: 19%; }

.col-width-20 {
  width: 20%; }

.col-width-21 {
  width: 21%; }

.col-width-22 {
  width: 22%; }

.col-width-23 {
  width: 23%; }

.col-width-24 {
  width: 24%; }

.col-width-25 {
  width: 25%; }

.col-width-26 {
  width: 26%; }

.col-width-27 {
  width: 27%; }

.col-width-28 {
  width: 28%; }

.col-width-29 {
  width: 29%; }

.col-width-30 {
  width: 30%; }

.col-width-31 {
  width: 31%; }

.col-width-32 {
  width: 32%; }

.col-width-33 {
  width: 33%; }

.col-width-34 {
  width: 34%; }

.col-width-35 {
  width: 35%; }

.col-width-36 {
  width: 36%; }

.col-width-37 {
  width: 37%; }

.col-width-38 {
  width: 38%; }

.col-width-39 {
  width: 39%; }

.col-width-40 {
  width: 40%; }

.col-width-41 {
  width: 41%; }

.col-width-42 {
  width: 42%; }

.col-width-43 {
  width: 43%; }

.col-width-44 {
  width: 44%; }

.col-width-45 {
  width: 45%; }

.col-width-46 {
  width: 46%; }

.col-width-47 {
  width: 47%; }

.col-width-48 {
  width: 48%; }

.col-width-49 {
  width: 49%; }

.col-width-50 {
  width: 50%; }

.col-width-51 {
  width: 51%; }

.col-width-52 {
  width: 52%; }

.col-width-53 {
  width: 53%; }

.col-width-54 {
  width: 54%; }

.col-width-55 {
  width: 55%; }

.col-width-56 {
  width: 56%; }

.col-width-57 {
  width: 57%; }

.col-width-58 {
  width: 58%; }

.col-width-59 {
  width: 59%; }

.col-width-60 {
  width: 60%; }

.col-width-61 {
  width: 61%; }

.col-width-62 {
  width: 62%; }

.col-width-63 {
  width: 63%; }

.col-width-64 {
  width: 64%; }

.col-width-65 {
  width: 65%; }

.col-width-66 {
  width: 66%; }

.col-width-67 {
  width: 67%; }

.col-width-68 {
  width: 68%; }

.col-width-69 {
  width: 69%; }

.col-width-70 {
  width: 70%; }

.col-width-71 {
  width: 71%; }

.col-width-72 {
  width: 72%; }

.col-width-73 {
  width: 73%; }

.col-width-74 {
  width: 74%; }

.col-width-75 {
  width: 75%; }

.col-width-76 {
  width: 76%; }

.col-width-77 {
  width: 77%; }

.col-width-78 {
  width: 78%; }

.col-width-79 {
  width: 79%; }

.col-width-80 {
  width: 80%; }

.col-width-81 {
  width: 81%; }

.col-width-82 {
  width: 82%; }

.col-width-83 {
  width: 83%; }

.col-width-84 {
  width: 84%; }

.col-width-85 {
  width: 85%; }

.col-width-86 {
  width: 86%; }

.col-width-87 {
  width: 87%; }

.col-width-88 {
  width: 88%; }

.col-width-89 {
  width: 89%; }

.col-width-90 {
  width: 90%; }

.col-width-91 {
  width: 91%; }

.col-width-92 {
  width: 92%; }

.col-width-93 {
  width: 93%; }

.col-width-94 {
  width: 94%; }

.col-width-95 {
  width: 95%; }

.col-width-96 {
  width: 96%; }

.col-width-97 {
  width: 97%; }

.col-width-98 {
  width: 98%; }

.col-width-99 {
  width: 99%; }

.col-width-100 {
  width: 100%; }

/********************************************************************
*********************************************************************
*********************************************************************

                @FILTERS
                components/_filters.scss

*********************************************************************
*********************************************************************
********************************************************************/
.filter-control {
  float: left;
  margin-right: 20px;
  width: 100%; }
  .filter-control input[type="text"], .filter-control input[type="password"], .filter-control select {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    height: 63px; }
    @media screen and (min-device-width: 40em) {
      .filter-control input[type="text"], .filter-control input[type="password"], .filter-control select {
        height: 25px; } }

[name="filter_button"] {
  margin-top: 20px;
  float: right; }

/********************************************************************
*********************************************************************
*********************************************************************

                @PAGINATION
                components/_pagination.scss

*********************************************************************
*********************************************************************
********************************************************************/
.pagination {
  text-align: right; }
  .pagination a {
    height: 25px; }
    .pagination a.prev:before, .pagination a.next:before {
      font-size: 43px;
      vertical-align: bottom;
      padding-top: 0px; }
      @media screen and (min-device-width: 40em) {
        .pagination a.prev:before, .pagination a.next:before {
          font-size: 23px; } }
    @media only screen and (max-device-width: 40em) {
      .pagination a {
        height: auto;
        padding-left: 20px;
        padding-right: 20px;
        margin-left: 5px;
        margin-right: 5px; } }
    .pagination a:before {
      margin-right: 2px; }

/********************************************************************
*********************************************************************
*********************************************************************

                @THIRDS: Third party libraries overrided styles
                components/_thirds.scss

*********************************************************************
*********************************************************************
********************************************************************/
.ui-dialog {
  z-index: 1002; }
  .ui-dialog .ui-dialog-titlebar {
    background: #f36d15;
    text-align: center;
    padding: 5px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0; }
    .ui-dialog .ui-dialog-titlebar .ui-dialog-titlebar-close {
      display: none; }
  .ui-dialog .ui-state-hover, .ui-dialog .ui-state-focus {
    color: #fdfdfd;
    background-color: #e35e0c;
    background-image: -moz-linear-gradient(top, #f47a2d, #e35e0c);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#f47a2d), to(#e35e0c));
    background-image: -webkit-linear-gradient(top, #f47a2d, #e35e0c);
    background-image: -o-linear-gradient(top, #f47a2d, #e35e0c);
    background-image: linear-gradient(to bottom, #f47a2d, #e35e0c);
    background-repeat: repeat-x;
    font-size: 2em;
    line-height: 2em;
    border: solid 1px #f58946;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none; }
    @media screen and (min-device-width: 40em) {
      .ui-dialog .ui-state-hover, .ui-dialog .ui-state-focus {
        font-size: 1.1em;
        line-height: 1.1em; } }
    .ui-dialog .ui-state-hover:hover, .ui-dialog .ui-state-focus:hover {
      cursor: pointer;
      font-weight: bolder; }
      .ui-dialog .ui-state-hover:hover span, .ui-dialog .ui-state-focus:hover span {
        font-weight: bold; }
      .ui-dialog .ui-state-hover:hover:before, .ui-dialog .ui-state-focus:hover:before {
        color: #fdfdfd; }
    .ui-dialog .ui-state-hover:active, .ui-dialog .ui-state-focus:active {
      color: #f0f0f0;
      background-color: #e35e0c;
      background-image: -moz-linear-gradient(top, #e35e0c, #f47a2d);
      background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#e35e0c), to(#f47a2d));
      background-image: -webkit-linear-gradient(top, #e35e0c, #f47a2d);
      background-image: -o-linear-gradient(top, #e35e0c, #f47a2d);
      background-image: linear-gradient(to bottom, #e35e0c, #f47a2d); }
    .ui-dialog .ui-state-hover:focus, .ui-dialog .ui-state-focus:focus {
      outline: 0; }
    .ui-dialog .ui-state-hover:before, .ui-dialog .ui-state-focus:before {
      margin-right: 10px;
      color: #fdfdfd; }
  .ui-dialog .ui-dialog-buttonset {
    padding: 10px;
    text-align: right; }
    .ui-dialog .ui-dialog-buttonset .button {
      margin-left: 30px; }
      .ui-dialog .ui-dialog-buttonset .button .ui-button-text:before {
        margin-right: 10px; }
  .ui-dialog .dialog-container {
    overflow-y: auto; }

.ui-widget-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 1001; }

.ui-widget-content {
  background: #fdfdfd; }

.dialog-container, .dialog-container-template {
  display: none; }

.dialog-container-template {
  width: 200%;
  height: 100vh; }
  @media screen and (min-device-width: 40em) {
    .dialog-container-template {
      width: 600px;
      height: 450px; } }

.ui-dialog {
  top: 50px !important;
  overflow-y: auto;
  padding: 1px;
  margin-bottom: 50px;
  width: 200% !important;
  height: 100vh !important; }
  @media only screen and (max-device-width: 40em) {
    .ui-dialog {
      position: absolute;
      left: auto !important;
      top: 0 !important; } }
  @media screen and (min-device-width: 40em) {
    .ui-dialog {
      width: 600px !important;
      height: 450px !important;
      height: auto !important; } }
  .ui-dialog td {
    display: block;
    padding-bottom: 5px; }
    @media screen and (min-device-width: 40em) {
      .ui-dialog td {
        display: table-cell; } }
    .ui-dialog td input[type="text"], .ui-dialog td input[type="password"] {
      width: 100%; }
      @media screen and (min-device-width: 40em) {
        .ui-dialog td input[type="text"], .ui-dialog td input[type="password"] {
          width: auto; } }
    @media screen and (min-device-width: 40em) {
      .ui-dialog td:first-child {
        text-align: right;
        width: 120px;
        white-space: nowrap; } }
    @media screen and (min-device-width: 40em) {
      .ui-dialog td:last-child input[type="text"], .ui-dialog td:last-child input[type="password"] {
        width: 100%; } }
    .ui-dialog td:last-child input.half100 {
      width: 50%;
      max-width: 100px; }

.chosen-container {
  height: 27px; }

.xdsoft_datetimepicker .xdsoft_calendar td > div {
  padding: 6px; }
.xdsoft_datetimepicker .xdsoft_calendar th {
  padding-top: 6px !important; }

.xdsoft_datetimepicker .xdsoft_calendar td:hover, .xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_time_box > div > div:hover {
  background: #f36d15 !important; }

.xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_default, .xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_current, .xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_time_box > div > div.xdsoft_current, .xdsoft_datetimepicker .xdsoft_label > .xdsoft_select > div > .xdsoft_option.xdsoft_current {
  background: #9a4008;
  box-shadow: #6a2c05 0px 1px 3px 0px inset; }

div.tagsinput input {
  min-width: 80px;
  border-color: #cacaca; }

div.tagsinput span.tag {
  color: #7e7e7e;
  background: #f0f0f0;
  border: 1px solid #e4e4e4;
  height: 25px; }
  div.tagsinput span.tag a {
    color: #f36d15; }

div.tagsinput span.tag a {
  font-size: 14px; }

.not_valid {
  background: #ff9999 !important;
  color: #fdfdfd !important; }

/********************************************************************
*********************************************************************
*********************************************************************

                @FONTS
                components/_fonts.scss

*********************************************************************
*********************************************************************
********************************************************************/
body {
  font-size: small; }

* {
  font-family: Taoma, Arial;
  font-size: 1.8em;
  line-height: 1.8em; }
  @media screen and (min-device-width: 40em) {
    * {
      font-size: 1em;
      line-height: 1em; } }

.h1 {
  font-weight: normal;
  font-size: 2.2em;
  line-height: 2.2em; }
  @media screen and (min-device-width: 40em) {
    .h1 {
      font-size: 1.4em;
      line-height: 1.4em; } }
  .h1 .subtitle {
    font-weight: normal; }

.h2 {
  font-weight: normal;
  font-size: 2em;
  line-height: 2em; }
  @media screen and (min-device-width: 40em) {
    .h2 {
      font-size: 1.1em;
      line-height: 1.1em; } }

a, button.actions_button:before {
  font-size: 1.8em;
  line-height: 1.8em; }
  @media screen and (min-device-width: 40em) {
    a, button.actions_button:before {
      font-size: 1em;
      line-height: 1em; } }

label {
  display: block;
  margin-bottom: 4px;
  font-size: 1.4em;
  line-height: 1.4em; }
  @media screen and (min-device-width: 40em) {
    label {
      font-size: 0.8em;
      line-height: 0.8em; } }

.chosen-container {
  font-size: 1.8em;
  line-height: 1.8em; }
  @media screen and (min-device-width: 40em) {
    .chosen-container {
      font-size: 1em;
      line-height: 1em; } }

@media only screen and (max-device-width: 40em) {
  input[type="text"] {
    font-size: 2.2em;
    line-height: 2.2em; }
    @media screen and (min-device-width: 40em) {
      input[type="text"] {
        font-size: 1.4em;
        line-height: 1.4em; } } }

.details-block .details-item {
  font-size: 2em;
  line-height: 2em; }
  @media screen and (min-device-width: 40em) {
    .details-block .details-item {
      font-size: 1.1em;
      line-height: 1.1em; } }

.details-block .details-item {
  font-weight: normal; }
  .details-block .details-item .indented-data {
    font-size: 1.8em;
    line-height: 1.8em;
    font-weight: bold; }
    @media screen and (min-device-width: 40em) {
      .details-block .details-item .indented-data {
        font-size: 1em;
        line-height: 1em; } }

.menu-option {
  font-size: 2em;
  line-height: 2em; }
  @media screen and (min-device-width: 40em) {
    .menu-option {
      font-size: 1.1em;
      line-height: 1.1em; } }

.breadcrumbs * {
  font-size: 1.4em;
  line-height: 1.4em; }
  @media screen and (min-device-width: 40em) {
    .breadcrumbs * {
      font-size: 0.8em;
      line-height: 0.8em; } }

.pagination {
  font-size: 1.8em;
  line-height: 1.8em; }
  @media screen and (min-device-width: 40em) {
    .pagination {
      font-size: 1em;
      line-height: 1em; } }

.second_row {
  font-size: 1.4em;
  line-height: 1.4em; }
  @media screen and (min-device-width: 40em) {
    .second_row {
      font-size: 0.8em;
      line-height: 0.8em; } }

th {
  font-size: 1.8em;
  line-height: 1.8em; }
  @media screen and (min-device-width: 40em) {
    th {
      font-size: 1em;
      line-height: 1em; } }

/*# sourceMappingURL=style.css.map */