body {
	font-family: sans-serif;
	background: #eee;
	color: #333;
	font-size: 11px;
	padding: 20px 0 40px;
}

h2 {
    margin-top: 20px;
    font-size: 15px;
}

a {
	color: #ff8d13;
	text-decoration: none;
	font-weight: bold;
}

a:hover {
	text-decoration: underline;
}


p {
	/* Use this line ON or OFF as grid guide 
	background-color: lime;*/
	overflow: hidden;
	padding: 10px 0;
	
}

.response_error {
	border-color: #8C0000;
	border-width: 1px;
	border-style: solid;
	color: #8C0000;
	padding: 5px 5px 5px 25px;
	font-weight: bold;
	background-color: #FFBDBD;
	background-image: url(../images/icons/cross.png);
	background-repeat: no-repeat;
	background-position: 5px 5px;
}

.response_warning {
	border-color: black;
	border-width: 1px;
	border-style: solid;
	color: black;
	padding: 5px 5px 5px 25px;
	font-weight: bold;
	background-color: #F3F317;
	background-image: url(../images/icons/error.png);
	background-repeat: no-repeat;
	background-position: 5px 5px;
}

.response_info {
	border-color: #224;
	border-width: 1px;
	border-style: solid;
	color: #224;
	padding: 5px 5px 5px 25px;
	font-weight: bold;
	background-color: #D3DEFF;
	background-image: url(../images/icons/information.png);
	background-repeat: no-repeat;
	background-position: 5px 5px;
}

.response_success {
	border-color: green;
	border-width: 1px;
	border-style: solid;
	color: green;
	padding: 5px 5px 5px 25px;
	font-weight: bold;
	background-color: #AAFFAA;
	background-image: url(../images/icons/tick.png);
	background-repeat: no-repeat;
	background-position: 5px 5px;
}

#header {
	height: 20px;
	background: #eee url(../images/header.gif) no-repeat;
}

#content {
	background: #eee url(../images/content.gif) repeat-y;
	min-height: 700px;
	padding: 0;
	margin: 0;
}

.maincontent {
	margin: 40px;
	width:880px !important;
	
}

#bottom {
	background: #eee url(../images/bottom.gif) no-repeat;
	padding: 10px 0;
}

#footer {
	font-size: 11px;
	color: #999;
	text-align: center;
	background: #eee;
	
}

.container_12 {
	background: #fff url(../../img/12_col.gif) repeat-y;
	margin-bottom: 20px;
}

.container_16 {
	background: #fff url(../../img/16_col.gif) repeat-y;
}

.container_24 {
	background: #fff url(../../img/24_col.gif) repeat-y;
}

#login-box {
	margin-top: 60px;
	text-align:center;
}

#top-logo img{
	margin-left: 30px;
}

#top-menu p {
	text-align: right;
	padding-top: 0;
	padding-right: 10px;
}


#menu ul {
	list-style-type: none;
}

#menu ul li {
	margin-bottom:6px;
	display: inline;
	
}

#menu ul li a{
	border:1px solid #eee;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-right: 10px;
	padding-left: 35px;
	
}

#menu ul li a:hover {
	background-color: #eee;	
}

button {
	overflow: visible;
	width: auto;
}

button.link {
	color: #ff8d13;
	text-decoration: none;
	font-weight: bold;
	font-family: "Verdana" sans-serif;
	font-size: 1em;
	text-align: left;
	background: none;
	margin: 0;
	padding: 0;
	border: none;
	cursor: pointer;
}

button.link span {
	text-decoration: none;
}
button.link:hover span,
button.link:focus span {
	text-decoration: underline;
}

.field {
	font-weight: bold;
}

.field, .value {
	background-color: #EFEFEF !important;
}

.side_add {
/*	float: left;*/
	padding: 5px 5px 5px 25px;
	background-image: url(../images/icons/add.png);
	background-repeat: no-repeat;
	background-position: 5px 5px;	
}

.options {
	text-align: right;
}

.options form {
	display: inline;
}

.option_del {
	padding: 5px 5px 5px 25px;
	background-image: url(../images/icons/cross.png);
	background-repeat: no-repeat;
	background-position: 5px 5px;
}

.option_view {
	padding: 5px 5px 5px 25px;
	background-image: url(../images/icons/magnifier.png);
	background-repeat: no-repeat;
	background-position: 5px 5px;
}

.option_edit {
	padding: 5px 5px 5px 25px;
	background-image: url(../images/icons/pencil.png);
	background-repeat: no-repeat;
	background-position: 5px 5px;
}

.option_disconnect {
	padding: 5px 5px 5px 25px;
	background-image: url(../images/icons/disconnect.png);
	background-repeat: no-repeat;
	background-position: 5px 5px;
}

.option_stopped {
	padding: 5px 5px 5px 25px;
	background-image: url(../images/icons/bullet_red.png);
	background-repeat: no-repeat;
	background-position: 5px 5px;
}

.option_started {
	padding: 5px 5px 5px 25px;
	background-image: url(../images/icons/bullet_green.png);
	background-repeat: no-repeat;
	background-position: 5px 5px;
}

.option_failedvm {
	padding: 5px 5px 5px 25px;
	background-image: url(../images/icons/exclamation.png);
	background-repeat: no-repeat;
	background-position: 5px 5px;
}

.option_waitvm {
	padding: 5px 5px 5px 25px;
	background-image: url(../images/icons/bullet_orange.png);
	background-repeat: no-repeat;
	background-position: 5px 5px;
    }

.option_true {
	padding: 5px 5px 5px 25px;
	background-image: url(../images/icons/tick.png);
	background-repeat: no-repeat;
	background-position: 5px 5px;
}

.option_next {
	padding: 5px 5px 5px 25px;
	background-image: url(../images/icons/arrow_right.png);
	background-repeat: no-repeat;
	background-position: 5px 5px;
}

.option_vnc {
	padding: 5px 5px 5px 25px;
	background-image: url(../images/icons/mouse.png);
	background-repeat: no-repeat;
	background-position: 5px 5px;
}

.option_vnclocal {
	padding: 5px 5px 5px 25px;
	background-image: url(../images/icons/brick.png);
	background-repeat: no-repeat;
	background-position: 5px 5px;
}

.intermenu {
	border-right: solid #DDD 1px;
	list-style-type: none;
}

.intermenu li {
	margin-bottom:6px;
}

.menu_host {
	padding: 5px 5px 5px 25px;
	background-image: url(../images/icons/server.png);
	background-repeat: no-repeat;
	background-position: 10px 8px;
}

.menu_vm {
	padding: 5px 5px 5px 25px;
	background-image: url(../images/icons/computer.png);
	background-repeat: no-repeat;
	background-position: 10px 8px;
}

.menu_user {
	padding: 5px 5px 5px 25px;
	background-image: url(../images/icons/user_female.png);
	background-repeat: no-repeat;
	background-position: 10px 8px;
}

.menu_osi {
	padding: 5px 5px 5px 25px;
	background-image: url(../images/icons/cd.png);
	background-repeat: no-repeat;
	background-position: 10px 8px;
}

.step_1_on {
	background-image: url(../images/icons/step_1_on.png);
	background-repeat: no-repeat;
	height: 50px;
	width: 50px;
	margin-right: 10px;
	display:inline-block;
	margin-bottom: 20px;	
}

.step_1_off {
	background-image: url(../images/icons/step_1_off.png);
	background-repeat: no-repeat;
	height: 50px;
	width: 50px;
	margin-right: 10px;
	display:inline-block;
	margin-bottom: 20px;
}

.step_2_on {
	background-image: url(../images/icons/step_2_on.png);
	background-repeat: no-repeat;
	height: 50px;
	width: 50px;
	margin-right: 10px;
	display:inline-block;
	margin-bottom: 20px;	
}

.step_2_off {
	background-image: url(../images/icons/step_2_off.png);
	background-repeat: no-repeat;
	height: 50px;
	width: 50px;display:inline-block;
	margin-right: 10px;
	display:inline-block;
	margin-bottom: 20px;	
}

.step_3_on {
	background-image: url(../images/icons/step_3_on.png);
	background-repeat: no-repeat;
	height: 50px;
	width: 50px;
	margin-right: 10px;
	display:inline-block;
	margin-bottom: 20px;	
}

.step_3_off {
	background-image: url(../images/icons/step_3_off.png);
	background-repeat: no-repeat;
	height: 50px;
	width: 50px;
	margin-right: 10px;
	display:inline-block;
	margin-bottom: 20px;	
}

.fb_label span {
	margin-right: 10px;
}

.fb_required {
	font-weight: bold;
}

.fb_submit {
	padding-top: 40px;
	text-align: right;
}

.fb tbody tr {
	padding-bottom: 40px;
}

.pager img {
	vertical-align: sub;
}

.big_count {
	font-size: 32px;
	font-weight: bold;
}

.center {
	text-align: center;
}

.clickable_row {
	cursor: pointer;
}

.clickable_row:hover td {
	background-color: #F0F0F0;
}
