table {
	border-collapse: collapse;
}

td, th {
	padding: 0.5em;
	border: 1px solid #CCC;
}

thead, tfoot {
	background-color: #DDD;
}

thead {
  border-bottom: 2px solid #f08900;
}

tfoot {
  border-top: 2px solid #f08900;
}

tr.rowodd {
	background-color: #FFF;
}

tr.roweven {
	background-color: #F2F2F2;
}

.sortcol {
	cursor: pointer;
	padding-right: 20px;
	background-repeat: no-repeat;
	background-position: right center;
}

.sortasc {
	background-color: #DDFFAC;
	background-image: url('/images/up.gif');
}

.sortdesc {
	background-color: #B9DDFF;
	background-image: url('/images/down.gif');
}

.nosort {
	cursor: default;
}

th.resize-handle-active {
	cursor: e-resize;
}

div.resize-handle {
	cursor: e-resize;
	width: 2px;
	border-right: 1px dashed #1E90FF;
	position:absolute;
	top:0;
	left:0;
}