.resultset table {
	border-collapse: collapse;
	min-height: 1000px;
}

.resultset td, .resultset th {
	padding: 2px 3px;
	border-bottom: 1px solid #CCC;
}

.resultset thead, tfoot {
	background-color: #DDD;
}

.resultset thead {
	border-bottom: 2px solid #f08900;
}

.resultset tfoot {
	border-top: 2px solid #f08900;
}

.resultset tr.rowodd {
	background-color: #FFF;
}

.resultset tr.roweven {
	background-color: #F2F2F2;
}

.resultset .sortcol {
	cursor: pointer;
	padding-right: 20px;
	background-repeat: no-repeat;
	background-position: right center;
}

.resultset .sortasc {
	background-color: #FFB769;
	background-image: url('../images/up.gif');
}

.resultset .sortdesc {
	background-color: #FFB769;
	background-image: url('../images/down.gif');
}

.resulset .headerSortUp {
	background-color: #FFB769;
}

.resulset .headerSortDown {
	background-color: #FFB769;
}

.resultset .nosort {
	cursor: default;
}

.resultset th.resize-handle-active {
	cursor: e-resize;
}

.resultset div.resize-handle {
	cursor: e-resize;
	width: 2px;
	border-right: 1px dashed #1E90FF;
	position:absolute;
	top:0;
	left:0;
}
