[Desktop Entry]
Version=0.01
Name=QVD client
Name[es]=Cliente QVD
Comment=A client for the QVD virtual desktop
Comment[es]=Un cliente para el escritorio virtual QVD
Exec=qvd-gui-client.pl
Icon=/usr/share/pixmaps/qvd.xpm
StartupNotify=true
Terminal=false
Type=Application
Categories=Network;

