Source: qvd-hkd
Section: perl
Priority: optional
Maintainer: qvd-team <qvd@qindel.com>
Build-Depends: debhelper (>= 7)
Standards-Version: 3.8.4
Homepage: http://qvdblog.qindel.com

Package: qvd-hkd
Architecture: all
Depends: ${shlibs:Depends}, ${misc:Depends}, libqvd-hkd-perl, qvd-sample-config, qemu-kvm
Description: The QVD house keeping daemon
 The QVD house keeping daemon manages the virtual machines assigned to host.
