/********************************************************************
*********************************************************************
*********************************************************************

                @BUTTONS
                components/_buttons.scss

*********************************************************************
*********************************************************************
********************************************************************/


/* Events */
.event {
	cursor: pointer;
}

a, button {
    &.button {
        @include button($col_whiter, $col_brand);
    }    
    
    &.button2 {
        @include button($col_brand, $col_whiter);
    }
    
    &.disabled {
        cursor: default;
    }
    
    &.button-right {
        position: absolute;
                    
        right: 0px;
        top: -40px;
        width: 100%;
        
        @include in(desktop) {
            top: 0px;
            width: auto;
        }
    }

    &.button.disabled, &.button2.disabled {
        @include button--disabled();
    }
}