/********************************************************************
*********************************************************************
*********************************************************************

                @BUTTONS
                components/_buttons.scss

*********************************************************************
*********************************************************************
********************************************************************/


/* Events */
.event {
	cursor: pointer;
}

a, button {
    &.button {
        @include button($col_whiter, $col_brand);
    }    
    
    &.button2 {
        @include button($col_brand, $col_whiter);
    }
    
    &.actions_button {
        &:before {
            font-size: 15px !important;
        }
        
        padding-top: 2px;
    }
    
    &.disabled {
        cursor: default;
    }
    
    &.button-right {
        position: absolute;
        right: 0px;
        bottom: 0px;
    }

    &.button.disabled, &.button2.disabled {
        @include button--disabled();
    }
}