/********************************************************************
*********************************************************************
*********************************************************************

                @DIALOG: Styles for jQuery UI dialog
                components/_dialog.scss

*********************************************************************
*********************************************************************
********************************************************************/


.ui-dialog {
    z-index: 1002;
    .ui-dialog-titlebar {
        background: $col_brand;
        text-align: center;
        padding: 5px;

        .ui-dialog-titlebar-close {
            display: none;
        }
        
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
    }
    
    .ui-state-hover, .ui-state-focus  {
        @include button($col_whiter, $col_brand);
    }
    
    .ui-dialog-buttonset {
        padding: 10px;
        text-align: right;
        
        .button {
            margin-left: 30px;
            .ui-button-text:before {
                margin-right: 10px;
            }
        }
    }
    
    .dialog-container {
        overflow-y: auto;
    }
}

.ui-widget-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1001;
}