/********************************************************************
*********************************************************************
*********************************************************************

                @ASSETS
                components/_dig-assets.scss

*********************************************************************
*********************************************************************
********************************************************************/

table.asset-selector {
    font-weight: normal;
    text-align: left;
    
    tr {
        cursor: pointer;
        
        &.selected-row {
            background: darken($col_whiter, 20);
        }
    }
}