/********************************************************************
*********************************************************************
*********************************************************************

                @FILTERS
                components/_filters.scss

*********************************************************************
*********************************************************************
********************************************************************/

.filter-control {
    float: left;
    margin-right: 20px;
    width: 100%;
    
    input[type="text"], input[type="password"], select {
           -moz-box-sizing: border-box; 
        -webkit-box-sizing: border-box; 
                box-sizing: border-box;
        width: 100%;
    }
}

[name="filter_button"] {
    margin-top: 20px;
    float: right;
}