/********************************************************************
*********************************************************************
*********************************************************************

                @FONTS
                components/_fonts.scss

*********************************************************************
*********************************************************************
********************************************************************/

body {
    font-size: small;
}

* {
    font-family: 'Open Sans', FontAwesome !important; 
    
    @include font-size(1);

    @include in(desktop) {
        @include font-size(2);
    }
}

th, td * {
    font-size: 14px;

    @include in(desktop) {
        @include font-size(2);
    }
}

editor-table th, editor-table td * {
    //@include font-size(2);
}

.h1 {
    font-weight: normal;
    
    @include font-size(4);
    
    .subtitle {
        font-weight: normal;   
    }
}

.h2 {
    font-weight: normal;
    @include font-size(3);
}

// Buttons
a, button.actions_button:before {
    @include font-size(2);
}

a.button, a.button2, button {
    @include font-size(2);
    @include in(desktop) {
        @include font-size(3);
    }
}

// Forms
label {
    @include font-size(1);
}

.chosen-container {
    @include font-size(2);
}

.actions_button, select[name="selected_actions_select"] {
    @include font-size(2);
    line-height: 1.6em;
}

input {
    line-height: 20px;
}

// Layout

.details-block .details-item  {
    font-size: 15px;
    
    @include in(desktop) {
        @include font-size(3);
    }
}

.details-block .details-item {
    font-weight: normal;

    .indented-data {
        @include font-size(2);
        font-weight: bold;
    }
}

// Menu
.menu-option {
    @include font-size(3);
}

// Navigation
.breadcrumbs * {
    @include font-size(1);
}

// Pagination
.pagination {
    @include font-size(2);
}

// Tables
.second_row {
    @include font-size(1);
}

.footer a {
    font-size: inherit;
}