/********************************************************************
*********************************************************************
*********************************************************************

                @FORCED
                components/_forced.scss

*********************************************************************
*********************************************************************
********************************************************************/

.not-selectable {
    @extend %not-selectable;
}

.center {
    text-align: center !important;
}

.left {
    text-align: left !important;
}

.right {
    text-align: right !important;
}

.auto {
    width: auto !important;
}

.normal {
    font-weight: normal !important;
}