/********************************************************************
*********************************************************************
*********************************************************************

                @FORMS
                components/_forms.scss

*********************************************************************
*********************************************************************
********************************************************************/

option {
    //padding: 40px;
}

label {
    display: block;
    margin-bottom: 8px;
}

select {
    background: white;

    min-height: 22px;
    padding: 4px;
    
    &[name="selected_actions_select"] {
        width: auto;
        float: left;
        margin-bottom: 10px;
    }
    
    -webkit-appearance: normal;
}

.actions_button, select[name="selected_actions_select"] {
    width: 100%;
    height: $input_height_mobile;
    border: 1px solid darken($col_whiter, 20);
    @include in(desktop) {
        width: auto;
        height: $input_height;
    }
}
    

input, textarea, .button, .button2 {
    padding: 4px 8px;
    line-height: 30px;
    border-color: #ccc;
    @include in(desktop) {
        line-height: 15px;
    }
}

input {
    line-height: $height_input;
}

select, input, textarea, .button, .button2 {
    border-radius: $form_elements_radius;
    border-style: solid;
    border-color: darken($col_whiter, 20%);
    border-width: thin;
    -webkit-box-shadow: inset 1px 1px 1px 0px #dddddd;
       -moz-box-shadow: inset 1px 1px 1px 0px #dddddd;
            box-shadow: inset 1px 1px 1px 0px #dddddd;
}

select {
    width: 100%;
}

input[type="checkbox"], input[type="radio"] {
    width: 24px;
    height: 24px;
    box-shadow: none;
    border-width: 0;
    
    @include in(desktop) {
        width: 20px;
        height: 20px;
    }
}

.mandatory-label:after {
    content: "(*)";
}


// Chosen controls styles

.chosen-container {    
    @include in(mobile) {
        width: 100% !important;
        margin-bottom: 10px;
    }
}

.chosen-container-single .chosen-single {
    height: $height_button;
    line-height: 20px;
    @include in(desktop) {
        line-height: 25px;
    }
    
    span {
        line-height: 20px;
        @include in(desktop) {
            line-height: 25px;
        }
    }
    
    margin-top: 2px;
    @include linear-gradient($col_whiter);
}

.chosen-container .chosen-results li.highlighted {
    background-color: $col_brand;
    background-image: none;
}

.chosen-container * {
    font-weight: normal;
}

.scrollable {
    max-height: 300px;
    overflow-x: auto;
}
