/********************************************************************
*********************************************************************
*********************************************************************

                @FORCED
                components/_forced.scss

*********************************************************************
*********************************************************************
********************************************************************/

.not-selectable {
    @extend %not-selectable;
}

.center {
    text-align: center !important;
}

.left {
    text-align: left !important;
}

.fleft {
    float: left !important;
}

.right {
    text-align: right !important;
}

.fright {
    float: right !important;
}

.auto {
    width: auto !important;
}

.normal {
    font-weight: normal !important;
}

.block {
    display: block !important;
}

.vmiddle {
    vertical-align: middle !important;
}

/* Hidden will have not important to open the possibility of use $().show() */
.hidden {
    display: none;
}

.hidden-forced {
    display: none !important;
}

.bold {
    font-weight: bold;
}

.nopadding {
    padding: 0px;
}

* {
  text-shadow: 0 0;
}