/********************************************************************
*********************************************************************
*********************************************************************

                @ICONS
                components/_icons.scss

*********************************************************************
*********************************************************************
********************************************************************/

.icon-play {
    color: $col_green;
}

.icon-stop, .icon-pause {
    color: $col_red;
}

.icon-warning {
    color: $col_yellow;
}

td {
    i.fa {        
        @include icon-size($table_icons_size_mobile + px);
        
        @include in(desktop) {        
            @include icon-size($table_icons_size + px);
        }
        
        margin-right: 4px;
    }
    
    i.fa-lock, i.fa-unlock {
        @include icon-size(($table_icons_size_mobile + 3) + px);
        
        @include in(desktop) {        
            @include icon-size(($table_icons_size + 3) + px);
        }
        
        vertical-align: bottom;
        height: 18px;
    }
}

.fa-centered {
    width: 100%;
    text-align: center;
}