/********************************************************************
*********************************************************************
*********************************************************************

                @ICONS
                components/_icons.scss

*********************************************************************
*********************************************************************
********************************************************************/

.icon-play {
    color: $col_green;
}

.icon-stop, .icon-pause {
    color: $col_red;
}

.icon-warning {
    color: $col_yellow;
}

td {
    i.fa {        
        @include icon-size($table_icons_size_mobile + px);
        
        @include in(desktop) {
            @include icon-size($table_icons_size + px);
        }
        
        width: 18px;
        line-height: 18px;
        margin-right: 4px;
        text-align: center;
        
        &.disabled {
            color: darken($col_whiter, 25);
        }
    }
    
    i.fa-lock, i.fa-unlock-alt {
        @include icon-size(($table_icons_size_mobile + 3) + px);
        
        @include in(desktop) {
            @include icon-size(($table_icons_size + 3) + px);
        }
        
        vertical-align: bottom;
        height: 18px;
    }
}

.fa-centered {
    width: 100%;
    text-align: center;
}

.fa:before {
    font-weight: normal;
}

.icon-bg {
    width: 32px;
    height: 32px;
    background-size: 100%;
    background-repeat: no-repeat;
    position: relative;
    
    i.shortcut {
        position: absolute;
        bottom: -6px;
        left: -6px;
        padding: 0px;
        
        &:before {
            background: $col_whiter;
            border: solid  1px darken($col_whiter, 10);
            font-size: 7px;
            padding: 1px 0px 1px 2px;
        }
    }
}