/********************************************************************
*********************************************************************
*********************************************************************

                ICONS
                components/_icons.scss

*********************************************************************
*********************************************************************
********************************************************************/

.icon-play {
    color: $col_green;
}

.icon-stop, .icon-pause {
    color: $col_red;
}

.icon-warning {
    color: $col_yellow;
}

td {
    i.fa {
        font-size: $table_icons_size + px;
        margin-right: 4px;
    }
    
    i.fa-lock, i.fa-unlock {
        font-size: ($table_icons_size + 3) + px;
        vertical-align: bottom;
        height: 18px;
    }
}

