.setup-side {
    width: ($width_setup_side - 2) * 1%;
    height: auto;

    @if $setup_side == left {
        float: left;
        padding-right: 2%;
        margin-right: 2%;
        border-right: 1px dotted darken($col_whiter, 15);
    }
    @else if $setup_side == right {
        float: right;
        padding-left: 2%;
        margin-left: 2%;
        border-left: 1px dotted darken($col_whiter, 15);
    }
}


.setup-block {
    width: ($width_setup_content - 2) * 1%;
    height: auto;

    @if $setup_side == left {
        float: right;
        padding-right: 2%;
        margin-right: 2%;
    }
    @else if $setup_side == right {
        float: left;
        padding-left: 2%;
        margin-left: 2%;
    }
    
    margin-bottom: 60px;
}

.customize-section-selectors {
    display: table;
    table-layout: fixed;
    width: 100%;
    margin-bottom: 10px;
    .customize-section-selector {
        margin-bottom: 20px;
        display: table-cell;
        width: 32%;
        
        &:first-child {
            padding-right: 20px;
        }
        
        &:last-child {
            padding-left: 20px;
        }
    }
}

.customize-options {
    .customize-block {
        width: 49%;
        display: inline-block;
        vertical-align: top;
        
        &:first-child {
            padding-right: 10px;
        }     
        
        &:last-child {
            padding-left: 10px;
            float: right;
        }
    }
}

a.button-update-customize {
    float: right;
    margin-top: 20px;
}

.config-table {
    margin-bottom: 3px;
    table-layout: fixed;
    
    td {
        text-align: left; 
        vertical-align: middle;
    }
    
    th {
        cursor: pointer;
    }
    
    .fa:before {
        margin-right: 5px;
    }
    
    .token_description {
        white-space: normal;
    }
}

.action-new-token {
    margin-bottom: 10px;
}

.config-search-box, .doc-search-box { 
    padding-bottom: 10px; 
    margin-bottom: 10px; 
    border-bottom: 1px dotted darken($col_whiter, 15);

    input {
        width: 100%;
    }
}