/********************************************************************
*********************************************************************
*********************************************************************

                @LAYOUT: Grids, Wrappers...
                components/_layout.scss

*********************************************************************
*********************************************************************
********************************************************************/


/* Layout */

body {
    position: relative;
}

.header-wrapper {
    @extend %invisible;

    height: 60px;
    border-bottom: 2px solid darken($col_whiter, 15);
    background: darken($col_whiter, 10);
    
    .header {
        position: relative;    
                
        @include width-wrapper;
        
        @extend %center-wrapper; 
        
        .logo {
            height: 55px;
            margin: 5px 0px;
        }
        
    }
}

.loading {
    font-size: 75px;
    width: 75px;
    top: 45vh;
    @include in(desktop) {
        font-size: 200px;
        width: 200px;
        top: 25vh;
    }
    color: darken($col_whiter, 10);
    
    position: absolute;
    margin: auto;
    left: 0;
    right: 0;
    bottom: 0;
}

.wrapper {
    @extend %invisible;

    @extend %center-wrapper;
            
    @include width-wrapper;
    
    background-color: white;
    position: relative;

    .menu {
        @extend %invisible;

        margin-bottom: 10px;
        
        margin-top: 5px;
        @include in(desktop) {
            margin-top: 15px;
        }
    }
    
    .breadcrumbs {
        @extend %invisible;
        width: 100%;
        margin-bottom: 10px;
        padding-bottom: 10px;
        border-bottom: dotted 1px darken($col_whiter, 15);
        
        @include in(desktop) {
            margin-bottom: 20px;
            display: block;
        }
    }
    
    .message-container {
        position: absolute;
        top: -10px;
        @include in(desktop) {
            top: -15px;
        }
        right: 10px;
        width: 40%;
        padding: 12px 20px;
        border-bottom-left-radius: 20px;
        border-bottom-right-radius: 20px;
        opacity: 0.95;
        border-top: 0px;
        color: $col_whiter;
        font-weight: bold;
        z-index: 999;
        display: none;
        
        &.success {
            background: darken($col_green, 5);
        }
        
        &.error {
            background: darken($col_red, 5);
        }
        
        &.info {
            background: darken($col_blue, 5);
        }
        
        &.warning {
            background: darken($col_yellow, 5);
        }

        .message-close {
            position: absolute;
            top: 6px;
            right: 8px;
            font-size: 24px;
            cursor: pointer;
        }
    }
    
    .content {
        @extend %invisible;

        @extend %clearfix;

        margin-bottom: 80px;
        
        // Different view layouts
        @import "layout-list";
        @import "layout-details";
    }
}
   
@import "layout-editor";

.footer {
    @extend %invisible;

    height: 30px;
    margin-top: 50px;
    text-align: center;
    color: lighten($col_blacker, 30%);
    @extend %clearfix;
    
    border-top: 2px solid darken($col_whiter, 15);
    background: darken($col_whiter, 10);
    width: 100%;
    
    position: fixed;
    bottom: 0px;
    padding-top: 7px;
    
    display: none;
    
    @include in(desktop) {
        display: block;
    }
}

.dialog-container, .dialog-container-template {
    display: none;
}

.dialog-container-template {
    width: $dialog_mobile_width;
    height: $dialog_mobile_height;
    
    @include in(desktop) {
        width: $dialog_width;
        height: $dialog_height;
    }
}


/* Responsive generic layout */
.desktop {
    display: none;
}

@include in(desktop) {
    td.desktop, th.desktop {
        display: table-cell;
    }    
    span.desktop, a.desktop {
        display: inline;
    }    
    
    div.desktop {
        display: block;
    }
    
    .mobile {
        display: none;
    }
}

.inline {
    display: inline;
}
