.editor-container {
    margin: 0;
    
    @include in(desktop) {
        margin: 5px 0px;
    }
    
    .editor-table {
        width: 100%;
        
        @include in(desktop) {
            border-spacing: 10px;
        }
        
        border-collapse: separate;
        
        td {
            padding-top: 4px;
        }
        
        td.colspanned {
            text-align: left !important;
            white-space: normal;
            font-weight: normal !important;
        }
        
        &>tbody>tr>td:first-child {
            font-weight: bold;
            min-width: 50%;
            @include in(desktop) {
                text-align: right;
                white-space: normal;
                width: 25%;
            }
            vertical-align: top;
            padding-top: 5px;
        }
        
        td.fa:before {
            margin-right: 10px;
        }

        .custom-properties {
            td {
                position: relative;
                
                .property-help {
                    position: absolute;
                    left: 12px;
                    top: 11px;
                    color: lighten($col_blacker, 50);
                    font-weight: normal;
                }
            }
        }
    }
}

.editor-tabs {
    display: -webkit-flex;
    -webkit-flex-direction: column;
    display: flex;
    flex-direction: row;
    text-align: center;
    height: 30px;
    
    li {
        flex-grow: 1;
        padding: 7px;
        cursor: pointer;
        background: #ddd;
        color: #999;
        font-weight: bold;
        
        &.tab-active, &:hover {
            background: $col_brand;
            color: $col_whiter;
        }
    }
}