/********************************************************************
*********************************************************************
*********************************************************************

                @LAYOUT: Grids, Wrappers...
                components/_layout.scss

*********************************************************************
*********************************************************************
********************************************************************/


/* Layout */

body {
    position: relative;
}

* {
    @include in(mobile) {
        //max-width: 50em !important;
        min-width: 0 !important;
    }
}

.super-wrapper {
    padding-top: 60px;
}

.header-wrapper {
    @extend %invisible;

    height: 60px;
    border-bottom: 2px solid darken($col_whiter, 20);
    background: darken($col_whiter, 15);
    position: fixed;
    top: 0px;
    width: 100%;
    z-index: 100;
    
    &.header-wrapper--mini {
        height: 40px;
        
        img.logo {
            height: 35px;
        }
        
        opacity: 0.90;
    }
    
    .header {
        position: relative;    
                
        @include width-wrapper;

        @extend %center-wrapper; 
        
        .logo {
            height: 55px;
            margin: 5px 0px;
        }
        
        .superadmin-select {
            margin: 10px 3px;
        }
        
    }
    
    .message-container {
        position: fixed;
        top: 0px;

        left: 5%;
        width: 90%;
        @include in(desktop) {
            left: 20px;
            width: 40%;
        }
        
        padding: 12px 20px;
        border-bottom-left-radius: 20px;
        border-bottom-right-radius: 20px;
        border-top: 0px;
        color: $col_whiter;
        font-weight: bold;
        z-index: 1001;
        display: none;
                
        &.success {
            background: darken($col_green, 5);
        }
        
        &.error {
            background: darken($col_red, 5);
        }
        
        &.info {
            background: darken($col_blue, 5);
        }
        
        &.warning {
            background: darken($col_yellow, 5);
        }

        .message-close {
            float:right;
            //position: absolute;
            top: 6px;
            right: 8px;
            @include icon-size(20px);
            cursor: pointer;
        }
        
        .message {
            padding-top: 10px;
            
            summary {
                line-height: 20px;
            }
            
            article.expandedMessage {
                display: none;
                @include font-size(1);
                padding: 14px 30px;
                margin-top: 10px;
                
                background: darken($col_whiter, 8);
                color: $col_blacker;
                margin-top: 10px;
                margin-bottom: 10px;
                border-radius: 4px;
                
                font-weight: normal;
                
                ul {
                    margin-top: 5px;
                    margin-left: 8px;
                    li {
                        margin-top: 4px;
                        display: list-item;
                        
                        &:before, i:before {
                            margin-right: 5px;
                        }
                    }
                }
            }
            
            .expand-message {
                cursor: pointer;
                @include icon-size(20px);
                float:left;
                margin-right: 15px;
            }
        }
    }
}

.loading, .loading-mid {
    width: 75px;
    top: 25vh;
    @include in(desktop) {
        @include icon-size(200px);
        width: 200px;
        top: 25vh;
    }
    color: darken($col_whiter, 10);
    
    margin: 50px auto;
}

.loading {
    @include icon-size(75px);
    @include in(desktop) {
        @include icon-size(200px);
    }
}

.loading-mid {
    text-align: center;
    width: 100%;
    @include icon-size(45px);
    @include in(desktop) {
        @include icon-size(150px);
    }
}

.mini-loading {
    @include icon-size(45px);
    width: 100%;
    margin-top: 40px;
    text-align: center;
    color: darken($col_whiter, 10);
}

.side-component {
    .mini-loading {
        color: darken($col_whiter, 20);
    }
}

.wrapper {
    @extend %invisible;

    @extend %center-wrapper;
            
    @include width-wrapper;

    background-color: $col_whiter;
    position: relative;
    
    .menu {
        @extend %invisible;

        margin-bottom: 10px;
        
        margin-top: 5px;
        @include in(desktop) {
            margin-top: 15px;
        }
    }
    
    .breadcrumbs {
        @extend %invisible;
        width: 100%;
        margin-top: 10px;
        margin-bottom: 10px;
        padding-bottom: 10px;
        
        @include in(desktop) {
            margin-top: 15px;
            margin-bottom: 20px;
            display: block;
        }
    }
    
    .content {
        @extend %invisible;

        @extend %clearfix;
        
        display: table;
        width: 100%;
        margin: 0 auto;
        
        // Different view layouts
        @import "layout-home";
        @import "layout-list";
        @import "layout-details";
        @import "layout-setup";
        @import "layout-login";
        
        .wrapper-content {
            width: 95vw;
        }
    }
}

@import "layout-roles";
@import "layout-editor";

.footer {
    @extend %invisible;

    z-index: 1000;
    
    height: 30px;
    margin-top: 50px;
    text-align: center;
    color: lighten($col_blacker, 30%);
    @extend %clearfix;
    
    border-top: 2px solid darken($col_whiter, 20);
    background: darken($col_whiter, 15);
    width: 100%;
    
    position: fixed;
    bottom: 0px;
    padding: 7px;
    
    display: none;
    
    @include in(desktop) {
        display: block;
    }
    
    vertical-align: top;
    
    a {
        line-height: 14px;
    }
}

.separator {
    width: 100%;
    margin-top: 15px;
    margin-bottom: 20px;
    border-bottom: dotted 1px darken($col_whiter, 15);
}

/* Responsive generic layout */
.desktop {
    display: none;
}

@include in(desktop) {
    .desktop {
        display: block;
    }
    
    td.desktop, th.desktop {
        display: table-cell;
    }    
    span.desktop, a.desktop {
        display: inline;
    }    
    
    .mobile {
        display: none;
    }
}

.inline {
    display: inline;
}

.clear {
    @extend %clearfix;
}

span.text {
    line-height: 1.4;
}

.related-doc {
    display: inline-table;
    margin-bottom: 80px;
    padding-left: 20px;
    
    .related-doc-title {
        font-weight: bold; 
        margin-bottom: 10px; 
        margin-top: 10px;
    }
    
    a.button2 {
        margin-bottom: 10px;
        display: block;
    }
}

.search-matchs {
    margin-left: 20px;
    margin-bottom: 20px;
}
