/********************************************************************
*********************************************************************
*********************************************************************

                @LAYOUT LOGIN: Layout of login
                components/_layout-login.scss

*********************************************************************
*********************************************************************
********************************************************************/

.login-box {
    width: 90%;
    height: 250px;
    @include in(desktop) {
        width: 650px;   
        height: 300px;
    }
    margin: 50px auto;
    color: $login_text;
    border-radius: 20px;
    border: 3px solid darken($login_bg, 5);
    background: $login_bg;
    display: table;
    table-layout: fixed;
    padding: 30px 20px;
    
    .login-side {
        display: none;
        @include in(desktop) {
            display: table-cell;
        }
        width: 240px;
        text-align: center;
        border-right: 2px dotted darken($login_bg, 10);
        
        div.logo-login {
            width: 150px;
            height: 227px;
            display: inline-block;
            background-image: url($login_logo);
            background-repeat: no-repeat;
            background-size: 100%;
        }
    }
    
    .login-main {
        display: table-cell;
        vertical-align: middle;
        
        .login-form {
            text-align:left;
            margin: 0 auto;
            width: 180px;
            font-size: 1.1em;
            @include in(desktop) {
                width: 220px;
                font-size: 1.2em;
            }
            &>div {
                &.login-control {
                    padding-bottom: 20px;
                    
                    &>div:first-child {
                        padding-bottom: 5px;
                        padding-left: 5px;
                    }
                    
                    input {
                        width: 100%;
                    }
                }
                
                &.login-link {
                    float: right;
                    font-size: small;
                }
                
                &.login-button {
                    text-align: right;
                    padding-top: 5px;
                }
            }
        }
    }
}