/********************************************************************
*********************************************************************
*********************************************************************

                @LAYOUT: Grids, Wrappers...
                components/_layout.scss

*********************************************************************
*********************************************************************
********************************************************************/


/* Layout */

body {
    position: relative;
}

.header-wrapper {
    @extend %invisible;

    height: 60px;
    border-bottom: 2px solid darken($col_whiter, 15);
    background: darken($col_whiter, 10);
    
    .header {
        position: relative;    
                
        @include width-wrapper;
        
        @extend %center-wrapper; 
        
        .logo {
            height: 55px;
            margin: 5px 0px;
        }
        
    }
}

.loading {
    font-size: 75px;
    width: 75px;
    @include in(desktop) {
        font-size: 150px;
        width: 150px;
    }
    color: darken($col_whiter, 30);
    
    position: absolute;
    margin: auto;
    left: 0;
    right: 0;
    bottom: 0;
    top: 25vh;
}

.wrapper {
    @extend %invisible;

    @extend %center-wrapper;
            
    @include width-wrapper;
    
    background-color: white;
    position: relative;

    .menu {
        @extend %invisible;

        margin-bottom: 10px;
        
        margin-top: 5px;
        @include in(desktop) {
            margin-top: 15px;
        }
    }
    
    .breadcrumbs {
        @extend %invisible;
        width: 100%;
        margin-bottom: 15px;
        
        @include in(desktop) {
            margin-bottom: 20px;
            display: block;
        }
    }
    
    .content {
        @extend %invisible;

        @extend %clearfix;

        margin-bottom: 80px;
        
        // Different view layouts
        @import "layout-list";
        @import "layout-details";
    }
    

}

.footer {
    @extend %invisible;

    height: 30px;
    margin-top: 50px;
    text-align: center;
    color: lighten($col_blacker, 30%);
    @extend %clearfix;
    
    border-top: 2px solid darken($col_whiter, 15);
    background: darken($col_whiter, 10);
    width: 100%;
    
    position: fixed;
    bottom: 0px;
    padding-top: 7px;
    
    display: none;
    
    @include in(desktop) {
        display: block;
    }
}

.dialog-container, .dialog-container-template {
    display: none;
}

.dialog-container-template {
    width: $dialog_mobile_width;
    height: $dialog_mobile_height;
    
    @include in(desktop) {
        width: $dialog_width;
        height: $dialog_height;
    }
}


/* Responsive generic layout */
.desktop {
    display: none;
}

@include in(desktop) {
    td.desktop, th.desktop {
        display: table-cell;
    }    
    span.desktop, a.desktop {
        display: inline;
    }    
    
    div.desktop {
        display: block;
    }
    
    .mobile {
        display: none;
    }
}

.inline {
    display: inline;
}
