/********************************************************************
*********************************************************************
*********************************************************************

                @LAYOUT: Grids, Wrappers...
                components/_layout.scss

*********************************************************************
*********************************************************************
********************************************************************/


/* Layout */

body {
    position: relative;
}

* {
    @include in(mobile) {
        min-width: 0 !important;
    }
}

.super-wrapper {
    padding-top: 60px;
    &.super-wrapper--login {
        background: $login_bg;
        padding: 0; 
        height: 100vh;
        .wrapper {
            background: $login_bg;
            margin: 0px;
        }
        
        .loading {
            color: $col_whiter;
        }
    }
}

.header-wrapper {
    @extend %invisible;

    height: 60px;
    border-bottom: 2px solid darken($header_bg, 5);
    background: $header_bg;
    position: fixed;
    top: 0px;
    
    width: 100%;

    @include in(desktop) {
        width: auto;
        min-width: 100%;
    }
    
    z-index: 100;
    
    &.header-wrapper--mini {
        height: 40px;
        
        div.logo {
            height: 35px;
            width: 80px;
        }
        
        opacity: 0.90;
    }
    
    .header {
        position: relative;    
                
        @include width-wrapper;

        padding-left: 5px;
        padding-right: 5px;

        @include in(desktop) {
            padding-left: 20px;
            padding-right: 20px;
        }
        
        .logo {
            height: 55px;
            width: 125px;
            margin: 5px 0px;
            background-image: url($header_logo);
            background-repeat: no-repeat;
            background-size: 100%;
        }
        
        .superadmin-select {
            margin: 10px 3px;
        }
        
    }
}

.message-container {
    position: fixed;
    top: 0px;

    left: 5%;
    width: 90%;
    @include in(desktop) {
        left: 20px;
        width: 40%;
    }

    padding: 12px 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    border-top: 0px;
    color: $col_whiter;
    font-weight: bold;
    z-index: 10001;
    display: none;

    &.success {
        background: darken($col_green, 5);
    }

    &.error {
        background: darken($col_red, 5);
    }

    &.info {
        background: darken($col_blue, 5);
    }

    &.warning {
        background: darken($col_yellow, 5);
    }

    .message-close {
        float:right;
        //position: absolute;
        top: 6px;
        right: 8px;
        @include icon-size(20px);
        cursor: pointer;
    }

    .message {
        padding-top: 10px;

        summary {
            line-height: 20px;
        }

        article.expandedMessage {
            display: none;
            @include font-size(1);
            padding: 14px 30px;
            margin-top: 10px;

            background: darken($col_whiter, 8);
            color: $col_blacker;
            margin-top: 10px;
            margin-bottom: 10px;
            border-radius: 4px;

            font-weight: normal;

            ul {
                margin-top: 5px;
                margin-left: 8px;
                li {
                    margin-top: 4px;
                    display: list-item;

                    &:before, i:before {
                        margin-right: 5px;
                    }
                }
            }
        }

        .expand-message {
            cursor: pointer;
            @include icon-size(20px);
            float:left;
            margin-right: 15px;
        }
    }
}

.loading, .loading-mid, .error-loading {
    width: 75px;
    top: 25vh;
    @include in(desktop) {
        @include icon-size(200px);
        width: 200px;
        top: 25vh;
    }
    color: darken($col_whiter, 10);
    
    margin: 50px auto;
}

.loading, .error-loading {
    @include icon-size(75px);
    @include in(desktop) {
        @include icon-size(200px);
    }
}

.loading-mid {
    text-align: center;
    width: 100%;
    @include icon-size(45px);
    @include in(desktop) {
        @include icon-size(150px);
    }
}

.mini-loading {
    @include icon-size(45px);
    width: 100%;
    margin-top: 40px;
    text-align: center;
    color: darken($col_whiter, 10);
}

.micro-loading {
    @include icon-size(35px);
    text-align: center;
    color: darken($col_whiter, 10);
    line-height: 0;
}

.side-component {
    .mini-loading {
        color: darken($col_whiter, 20);
    }
}

.wrapper {
    @extend %invisible;
    

    width: 99%;
    margin: 0 auto;
    
    padding-left: 5px;
    padding-right: 5px;
    
    @include in(desktop) {
        padding-left: 20px;
        padding-right: 20px;
    }
    
    @include width-wrapper;

    background-color: $col_whiter;
    margin-bottom: 50px;
    margin-left: 5px;
    
    position: relative;
    
    .menu {
        @extend %invisible;

        margin-bottom: 10px;
        
        margin-top: 5px;
        @include in(desktop) {
            margin-top: 15px;
        }
    }
    
    .breadcrumbs {
        @extend %invisible;
        width: 100%;
        margin-top: 10px;
        margin-bottom: 10px;
        padding-bottom: 10px;
        
        @include in(desktop) {
            margin-top: 15px;
            margin-bottom: 20px;
            display: block;
        }
    }
    
    .content {
        @extend %invisible;

        @extend %clearfix;
        
        display: table;
        margin: 0 auto;
        
        width: 96%;

        @include in(desktop) {
            width: 100%;
        }
        
        // Different view layouts
        @import "layout-home";
        @import "layout-list";
        @import "layout-details";
        @import "layout-setup";
        @import "layout-login";
        
        .wrapper-content {
            width: 95vw;
        }
    }
}

@import "layout-roles";
@import "layout-editor";

.responsive-switch {
    margin-bottom: 45px; 
    width: 100%;
    
    @include in(desktop) {
        position: absolute;
        margin-left: auto;
        margin-right: auto;
        left: 0;
        right: 0;
        bottom: 0px;
    }
    
    a {
        display: table;
        margin: 0 auto;
    }
}

.footer {
    @extend %invisible;

    z-index: 1000;
    
    height: 30px;
    margin-top: 50px;
    text-align: center;
    color: $footer_text;
    @extend %clearfix;
    
    background: $footer_bg;
    width: 100%;
    
    position: fixed;
    bottom: 0px;
    padding: 7px;
    
    display: none;
    
    @include in(desktop) {
        display: block;
    }
    
    vertical-align: top;
    
    a {
        line-height: 14px;
    }
}

.separator {
    width: 100%;
    margin-top: 15px;
    margin-bottom: 20px;
    border-bottom: dotted 1px darken($col_whiter, 15);
}

/* Responsive generic layout */
.desktop, .desktop-row {
    display: none;
}

@include in(desktop) {
    .desktop {
        display: block;
    }
    .desktop-row {
        display: table-row;
    }
    
    td.desktop, th.desktop {
        display: table-cell;
    }    
    span.desktop, a.desktop {
        display: inline;
    }    
    
    .mobile {
        display: none;
    }
}

.inline {
    display: inline;
}

.clear {
    @extend %clearfix;
}

span.text {
    line-height: 1.4;
}

.related-doc {
    display: inline-table;
    margin-top: 20px;
    margin-bottom: 80px;
    padding-left: 20px;
    width: 100%;

    a.button2 {
        margin-bottom: 15px;
        display: block;
    }
}

.search-matchs {
    margin-left: 20px;
    margin-bottom: 20px;
}

.info-header {
    height: auto;
    margin: 10px;
    .fa:before {
        margin-right: 5px;
    }
}

.server-datetime-wrapper {
    position: fixed;
    right: 0;
    top: 60px;
    font-size: 12px;
    padding: 7px 15px 4px 5px;
    background: #eee;
    border-bottom-left-radius: 8px;
    z-index: 2;
    opacity: 0.8;
    
    &.server-datetime-wrapper--mini {
        top: 40px;
    }
}

.out-of-borders {
    position: absolute;
    left: -20px;
    top: -20px;
}
    
.invisible-box {
    outline: none;
    box-shadow: none;
    border: 0px solid;
    background: transparent;
    font-size: 0px;
    line-height: 0px;
}

.os-configuration-fs {
    legend {
        text-align: left;
        font-weight: normal;
    }
}

.os-editor-menu {
    button {
        width: 100%;
        display: block;
        margin-bottom: 5px;
        text-align: left;
    }
    
    div.menu {
        width: 180px;
    }
}

.configuration-block {
    margin-bottom: 10px;
}

.os-editor-panel {
    text-align: left;
    vertical-align: top !important;
    
    li.installed-package:first-child .order-package-up, li.installed-package:last-child .order-package-down {
        visibility: hidden;
    }
    
    .package-buttonset {
        background: $col_whiter;
    }
}

button.button-edit-os {
    margin-bottom: 10px;
}

.os-configuration-editor {
    text-align: left;
    
    .packages-list {
        td {
            font-size: 12px;
        }
    }
}

table.os-configuration {
    width: 100%;
    text-align: left;
    text-decoration: none;
    font-weight: normal;
    border-collapse: separate;
    
    th {
        font-weight: bold;
        font-size: small;
        padding-left: 5px;
        width: 50%;
    }
    
    button {
        margin-left: 10px;
        
        @include in(mobile) {
            width: 100%;
        }
    }
    
    .settings-box {
        overflow: auto;
        max-height: 120px;
        display: list-item;
        
        font-size: small;
        border: 1px solid #eee;
        border-radius: 3px;
        margin: 5px;
        padding: 5px;
        
        width: 98% !important;
        
        @include in(mobile) {
            display: table-cell;
            font-size: 7px;
        }
        
        .settings-box-element-name {
            font-weight: bold;
        }
        
        .settings-box-element-value {
            font-style: italic;
            text-align: left;
            font-weight: normal;
        }
        
        .settings-box-element-app, .settings-box-element-shortcut, .settings-box-element-script {
            font-style: italic;
            line-height: 22px;
        }
        
        .setting-row {
            padding: 3px;
            
            &.setting-row-list {
                @include alternate;
            }
            
            img, .icon-bg {
                height: 18px;
                margin-right: 4px;
            }
            
            .os-name {
                vertical-align: super;
            }
        }
        
        &-distro {
            height: auto;
            background: transparent;
            border: 0;
            
            .os-row {
                position: relative;
                
                button {
                    @include in(desktop) {
                        position: absolute;
                        right: 10px;
                        top: 17px;
                    }
                    margin-bottom: 5px;
                }
            }
        }
    }
}

.dis-subrow {
    padding: 0px 0px 0px 55px  !important;
    box-shadow: inset 0 0 3px #ccc;
    
    .loading {
        text-align: center;
        font-size: inherit;
        margin: 10px auto;
        i {
            color: darken($col_whiter, 25);
            font-size: 40px;
            line-height: 40px;
        }
    }
    
    .embedded-dis-header-table {
        width: 100%;
        table-layout: fixed;
    }
    
    .list-wrapper {
        width: 100%;
        
        .list {
            border: 0 !important;
            margin: 0 !important;
            border-radius: 0;
            border: #aaa 1px dotted !important;
            
            &>thead, &>tbody {
                display: block;
                
                th, td {
                    padding: 2px 10px;
                }
            }
            
            thead {
                tr {
                    th {
                        background: transparent;

                        .chosen-container {
                            //min-width: 350px;
                        }
                        
                    
                        &:first-child {
                            padding-right: 10px !important;
                        }
                        
                        &:last-child {
                            padding: 2px;
                        }
                    }
                }
            }

            tbody {
                max-height: 200px;
                overflow-y: auto;
                
                tr {
                    td.description {
                        width: 100%;
                        vertical-align: top;
                        white-space: normal;
                    }
                }
                
                tr.rows-unshrink-row {
                    background: transparent !important;
                    text-align: center;
                    
                    a {
                        width: 50% !important;
                    }
                }
            }
        }
    }
}