/********************************************************************
*********************************************************************
*********************************************************************

                @LAYOUT DETAILS: Layout of details view
                components/_layout-details.scss

*********************************************************************
*********************************************************************
********************************************************************/

.details-side {
    display: none;
    @include in(desktop) {
       display: block;
    }
    
    margin-bottom: 15px;

    width: ($width_details_side - 2) * 1%;
    height: auto;
    
    @if $details_side == left {
        float: left;
        padding-right: 2%;
        margin-right: 2%;
        border-right: 1px dotted darken($col_whiter, 15);
    }
    @else if $details_side == right {
        float: right;
        padding-left: 2%;
        margin-left: 2%;
        border-left: 1px dotted darken($col_whiter, 15);
    }
}

.details-header, .side-header {
    position: relative;
    height: 40px;
    
    span:before {
        margin-right: 8px;
        margin-left: 6px;
    }
}

.details-list, .custom-props-container {
    padding-left: 20px;
    
    .details-item {
        margin-bottom: 15px;
        display: block;
        &:before, i:before {
            margin-right: 5px;
        }
    }
}

.details-block {
    @include in(desktop) {
        float: right;
        width: ($width_details_content) * 1%;
    }        
    
    .details-list {
        @include in(desktop) {
            width: 50%;
        }
    }
    
    .details-item {
        .indented-data {
            margin-left: 12px;
            margin-top: 6px;
            margin-bottom: 20px;
            div {
                margin-bottom: 10px;
            }
        }
    }
        
    .custom-props-container {
        @include in(desktop) {
            position: absolute;
            top: 30px;
            right: 0;
            width: $other_properties_width * 1%;
        }

        table.custom-props {
            width: auto;
            
            td:first-child {
                font-weight: normal;
                white-space: nowrap;
                width: 1%;
                padding-right: 15px;
            }
        }
    }
    
    position: relative;
}

// Virtual machines

.remote-administration-wrapper {
    width: 100%;
    margin-top: 10px;
    margin-bottom: 20px;
    
    .remote-administration-state {
        width: 49%;
        text-align: center;
        display: inline-block;
            
        @include font-size(3);

        div {        
            &.fa {
                @include icon-size(40px);
            }
            
            margin-bottom: 15px;       
            
            &:last-child {
                margin-bottom: 0px;
            }
        }
    }
    
    .remote-administration-buttons {
        //margin: 25px auto;
        width: 49%;
        display: inline-block;
        vertical-align: bottom;
        
        a {
            width: 100%;
            display: block;
            margin-bottom: 12px;
            
            &:last-child {
                margin-bottom: 0px;
            }
        }
    }
    
}