/********************************************************************
*********************************************************************
*********************************************************************

                @MENU
                components/_menu.scss

*********************************************************************
*********************************************************************
********************************************************************/

.menu {
    display: none;

    @include in(desktop) {
        display: block;
    }
    
    &>ul {    
        .menu-option, .token-prefix-option {
            @extend %not-selectable;
            display: block;

            @include in(desktop) {
                display: inline;
            }

            min-width: 100px;
            padding: 8px 12px 8px 12px;
            background: $col_whiter;
            color: $col_blacker;
            border: 1px solid lighten($col_brand, 20%);
            cursor: pointer;

            &:last-child {
                border-bottom-left-radius: $menu_radius;
                border-bottom-right-radius: $menu_radius;
            }    

            &:first-child {
                border-top-left-radius: $menu_radius;
                border-top-right-radius: $menu_radius;
            }

            @include in(desktop) {
                &:last-child {
                    border-bottom-left-radius: 0;
                    border-top-right-radius: $menu_radius;
                    border-bottom-right-radius: $menu_radius;
                }    

                &:first-child {
                    border-top-right-radius: 0;
                    border-top-left-radius: $menu_radius;
                    border-bottom-left-radius: $menu_radius;
                }  

                &:first-child:last-child {
                    border-radius: $menu_radius;
                }
            }

            // Icon
            .fa {
                @include icon-size(18px);
                margin-right: 10px;

            }

            span {
                vertical-align: bottom;
            }

            &:active {
                @include in(desktop) {
                    margin-bottom: -2px;
                    margin-top: 1px;
                }
            }

        }
        
        .token-prefix-option, .token-prefix-option:active {
            float: left;
            margin-bottom: 10px;
            width: 100%;
        }

            .menu-option--selected, .menu-option:hover, .token-prefix-option--selected, .token-prefix-option:hover {
                background: $col_brand;
                color: $col_whiter;
                border: 1px solid transparent;
            }

            .menu-option--selected, .token-prefix-option--selected {
                font-weight: bold;

                span {
                    vertical-align: baseline;
                }

                &:active {
                    margin: 0px;
                }            
            }
    }
}

.menu-corner {
    @extend %invisible;
    
    z-index: 1000;
    position: absolute;
    top: 10px;
    right: 80px;
    display: none;
    
    @include in(desktop) {
        right: 20px;
        display: block;
    }
    
    
    &>ul {
        &>li {
            display: inline;
            margin: 5px;
            position: relative;
            cursor: default;
        
            &.menu-option-current {
                border-bottom: 2px dotted $col_brand;
                border-top: 2px dotted $col_brand;
                padding-top: 2px;
                padding-bottom: 1px;
            }
            
            &>ul {
                border: solid 1px lighten($col_brand, 30);
                background: $col_whiter;
                opacity: 0.9;
                display: none;
                position: absolute;
                left: -9px;
                top: 18px;
                border-bottom-left-radius: $menu_radius;
                border-bottom-right-radius: $menu_radius;
                z-index: 3;
                &>li {
                    span {
                        padding: 8px;
                        white-space: nowrap;
                        width: 100%;
                        &:before {
                            margin-right: 5px;
                        }
                        
                
                        &.fa-graduation-cap:before {
                            margin-right: 2px;
                            margin-left: -2px;
                        }
                        
                        &:hover {
                            font-weight: bold;
                            color: $col_whiter;
                            background: $col_brand;
                        }
                    }
                    
                    &:last-child span {
                        border-bottom-left-radius: $menu_radius;
                        border-bottom-right-radius: $menu_radius;
                    }
                }
            }
        }
    }
}

.side-menu {
    li {
        margin-bottom: 15px;
        cursor: pointer;

        a {
            &:before {
                margin-right: 5px;
                font-weight: normal;
            }
            
            &.fa-graduation-cap:before {
                margin-right: 2px;
                margin-left: -2px;
            }
        
            &.selected-option, &:hover {
                font-weight: bold;
            }
        }
    }
}

// Mobile

.mobile-menu {
    cursor: pointer;
    position: absolute;
    top: 5px;
    right: 20px;
    @include icon-size(50px);
    
    @include in(desktop) {
        display: none;
    }
}


.submenu ul {
    margin-bottom: 20px;
    float: right;
    
    .menu-option {
        padding: 4px 8px 4px 8px;
    }
}

.secondary-menu {
    display: block !important;
    visibility: visible !important;
    margin-top: 0px !important;
}