/********************************************************************
*********************************************************************
*********************************************************************

                @PAGINATION
                components/_pagination.scss

*********************************************************************
*********************************************************************
********************************************************************/

.pagination {
    text-align: right;
    
    a {  
        &.prev:before, &.next:before {
            // Trick to set same size to different icons
            @include icon-size(43px);
            
            @include in(desktop) {
                @include icon-size(23px);
            }
            vertical-align: bottom;
            padding-top: 0px;
        }
        
        height: $height_button;

        @include in(mobile) {
            height: auto;

            padding-left: 20px;
            padding-right: 20px;

            margin-left: 5px;
            margin-right: 5px;
        }
        
        &:before {
            margin-right: 2px;
        }
    }
}