/********************************************************************
*********************************************************************
*********************************************************************

                @PAGINATION
                components/_pagination.scss

*********************************************************************
*********************************************************************
********************************************************************/

.pagination {
    font-size:12px;
    text-align: right;
    
    a {  
        &.prev, &.next {
            // Trick to set same size to different icons
            font-size: 17px;
            vertical-align: bottom;

        }
        
        height: $height_button;
        
        &:before {
            margin-right: 2px;
        }
    }
}