/********************************************************************
*********************************************************************
*********************************************************************

                @TABLES
                components/_tables.scss

*********************************************************************
*********************************************************************
********************************************************************/


/* Table list */

table.list, table.customize-fields {    
    @include table-base (alternate-rows);
}

table.custom-props, table.details {    
    @include table-base (first-col);
}

table.manage-roles, table.manage-acls {
    width: 100%;
    
    td {
        text-align: left;
    }
}

table.custom-props {
    @include in(desktop) {
        table-layout: fixed;
    }
}

table.details, table.custom-props {
    td:first-child {
        vertical-align: middle;
        white-space: nowrap;
        
        i.fa {
            @include in(mobile) {                
                display: none;
            }
        }
    }

    td:last-child {
        font-weight: bold;
        width: 100%;
    }
}

table.expiration-table, table.state-table {
    table-layout: auto;
    white-space: nowrap;
    
    td:nth-child(2) {
        width: 100%;
    }
}

table.state-table tr {
    @include first-col ($col_whiter);
    
    &:first-child th {
        text-align: center;
    }
    
    td {
        font-weight: bold;
        
        &:first-child {
            font-weight: normal;
        }
    }
    
    
}

table.roles-inherit-table {
    td {
        padding-left: 0px !important;
    }
}

table.roles-inherit-tools-table {
    width: 100%;
    tr:first-child>td>div {
        padding-bottom: 4px;
    }
    td {
        padding: 6px;
    }
}

.second_row {
    margin-top: 4px;
    color: lighten($col_blacker, 20);
}

.second_row--error {
    color: darken($col_red, 10);
}

th .second_row {
    color: $col_blacker;
}

td.inner-table {
    padding: 0 !important;
    
    table {
        width: 100%;
    }
    
}

.fixed {
    table-layout: fixed;
}

.not-break {
    @include in(desktop) {
        white-space: nowrap;
        overflow-x: hidden;
        text-overflow: ellipsis;
    }
}

// Different sizes for cells with different amount of icons
$table_icons_size: 18;
$table_icons_size_mobile: 20;
$table_icons_margin: 6;
$cell_padding: 8;
$security_margin: 5;
@for $i from 1 through 6 {
    $width_for_icons: ($i * ($table_icons_size + $table_icons_margin)) + $security_margin + (2 * $cell_padding);
    $width_for_icons_mobile: ($i * ($table_icons_size_mobile + $table_icons_margin)) + $security_margin + (2 * $cell_padding);
    .max-#{$i}-icons {
        width: $width_for_icons * 1px;
        min-width: $width_for_icons * 1px;
        
        @include in(desktop) {
            width: $width_for_icons_mobile * 1px;
            min-width: $width_for_icons_mobile * 1px;
        }
    }
}

@for $i from 1 through 100 {
    .col-width-#{$i} {
        width: $i * 1% !important;
    }
}

/* Table scroll */

div.list-block div:first-child {
    width: 100%;
    
    .list-navigation, div.list {
        @include in(desktop) {
        }
    }
    
    .list {
        overflow-x: auto;
        overflow-y: hidden;
        margin-top: 3px;
    }   
    
    table.list {
        width: 100%;
        
        th {
            position: relative;
            padding-right: 20px;
            
            i {
                position: absolute;
                right: 5px;
                padding-left: 10px;
            }
        }
    }
}

table.list {
    td, th {
        white-space: nowrap;
    }     
}

table.role-template-tools {
    @include table-base (alternate-rows);
    
    width: 100%;
    font-size: 14px;
    margin: 0 0;

    td {
        text-align: center;
        padding: 5px !important;
        
        input[type="checkbox"] {
            width: 20px;
            height: 20px;
        }
        
        a.no-text-button {
            text-align: center;
            &:before {
                margin: 0px;
                text-align: center;
            }
        }
    }
    
    td:first-child {
        text-align: left;
    }
}


.tools-roles, .tools-templates {
    background: $col_whiter !important; 
    display: none;
}

table.vmst {
    i.vmst-vm, i.vmst-host, i.vmst-dot {
        width: 100%;
        
        &.vmst-dot {
            font-size: 9px;
            margin-top: 10px;
        }        
        
        &.vmst-dot-branch {
            margin-top: 0px;
            line-height: 1px;
        }
    }
    
    .vmst-vm-cell, .vmst-host-cell {
        width: 50%; 
        vertical-align: bottom;
    }
}