/********************************************************************
*********************************************************************
*********************************************************************

                @TABLES
                components/_tables.scss

*********************************************************************
*********************************************************************
********************************************************************/


/* Table list */

table.list, table.customize-fields {    
    @include table-base (alternate-rows);
}

table.custom-props, table.details {    
    @include table-base (alternate-cols);
}

table.list, table.custom-props {
    @include in(desktop) {
        table-layout: fixed;
    }
}

table.details, table.custom-props {
    td:first-child {
        vertical-align: top;
    }
    td:last-child {
        font-weight: bold;
    }
}

table.expiration-table {
    table-layout: auto;
}

.second_row {
    margin-top: 4px;
    line-height: 13px;
    color: lighten($col_blacker, 40);
}

td.inner-table {
    padding: 0 !important;
    
    table {
        width: 100%;
    }
    
}

.fixed {
    table-layout: fixed;
}

.not-break {
    @include in(desktop) {
        white-space: nowrap;
        overflow-x: hidden;
        text-overflow: ellipsis;
    }
}

// Different sizes for cells with different amount of icons
$table_icons_size: 18;
$table_icons_size_mobile: 22;
$table_icons_margin: 4;
$cell_padding: 6;
$security_margin: 5;
@for $i from 1 through 6 {
    $width_for_icons: ($i * ($table_icons_size + $table_icons_margin)) + $security_margin + (2 * $cell_padding);
    $width_for_icons_mobile: ($i * ($table_icons_size_mobile + $table_icons_margin)) + $security_margin + (2 * $cell_padding);
    .max-#{$i}-icons {
        width: $width_for_icons * 1px;
        min-width: $width_for_icons * 1px;
        
        @include in(desktop) {
            width: $width_for_icons_mobile * 1px;
            min-width: $width_for_icons_mobile * 1px;
        }
    }
}

@for $i from 1 through 100 {
    .col-width-#{$i} {
        width: $i * 1%;
    }
}
