/********************************************************************
*********************************************************************
*********************************************************************

                @TABLES
                components/_tables.scss

*********************************************************************
*********************************************************************
********************************************************************/


/* Table list */

table.list, table.custom-props {    
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    background-color: $col_whiter;
    border: 1px solid #ddd;
    border-radius: $table_radius;
    border-collapse:separate;

    th {
        font-weight: bold;
        text-align: left;
        border-bottom: #ccc solid 1px;
        
        .sort-icon {
            float: right;
        }
        
        &.sortable {
            cursor: pointer;
        }
        
        @extend %not-selectable;
    
        &.sorted {
            background-color: $col_brand;
            color: $col_whiter;
        }
        
        i {
            &:before {
                float: right;
                margin-left: 5px;
                font-weight: normal;
            }
            width: 100%;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            
            font-weight: bold;
        }
    }

    td, th {
        padding: 6px 8px;
        
        border-right: dotted 1px darken($col_whiter, 10);

        &:last-child {
            border-right: 0px;
        }
    }

    >tbody>tr {
        @include alternate($col_whiter);
    }
    
    tr:last-child {
        td:first-child {
            border-bottom-left-radius: $table_radius;
        }        
        td:last-child {
            border-bottom-right-radius: $table_radius;
        }
    }
}

table.list, table.custom-props {
    @include in(desktop) {
        table-layout: fixed;
    }
}

table.expiration-table {
    table-layout: auto;
}

.second_row {
    margin-top: 4px;
}

td.center {
    text-align: center;
}

// Different sizes for cells with different amount of icons
$table_icons_size: 18;
$table_icons_size_mobile: 22;
$table_icons_margin: 4;
$cell_padding: 6;
$security_margin: 5;
@for $i from 1 through 6 {
    $width_for_icons: ($i * ($table_icons_size + $table_icons_margin)) + $security_margin + (2 * $cell_padding);
    $width_for_icons_mobile: ($i * ($table_icons_size_mobile + $table_icons_margin)) + $security_margin + (2 * $cell_padding);
    .max-#{$i}-icons {
        width: $width_for_icons * 1px;
        min-width: $width_for_icons * 1px;
        
        @include in(desktop) {
            width: $width_for_icons_mobile * 1px;
            min-width: $width_for_icons_mobile * 1px;
        }
    }
}

@for $i from 1 through 100 {
    .col-width-#{$i} {
        width: $i * 1%;
    }
}
