/********************************************************************
*********************************************************************
*********************************************************************

                @THIRDS: Third party libraries overrided styles
                components/_thirds.scss

*********************************************************************
*********************************************************************
********************************************************************/

// jQuery UI styles

.ui-dialog {
    z-index: 1002;
    .ui-dialog-titlebar {
        background: $col_brand;
        text-align: center;
        padding: 5px;

        .ui-dialog-titlebar-close {
            display: none;
        }
        
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
    }
    
    .ui-state-hover, .ui-state-focus  {
        @include button($button_text, $button_bg);
        background-image: none;
    }
    
    .ui-dialog-buttonset {
        padding: 10px;
        text-align: right;
        
        .button {
            margin-left: 30px;
            .ui-button-text:before {
                margin-right: 10px;
            }
        }
    }
    
    .dialog-container {
        overflow-y: auto;
        padding-left: 0px;
        padding-right: 0px;
        max-height: 70vh !important;
        height: auto;
    }
}

.ui-widget-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 1001;
}

.ui-widget-content {
    background: $col_whiter;
}


.dialog-container, .dialog-container-template {
    display: none;
    padding: 0;
}

.dialog-container-template {
    width: $dialog_mobile_width;
    height: $dialog_mobile_height;
    height: 100vh;
    
    @include in(desktop) {
        width: $dialog_width;
        height: $dialog_height;
    }
}

.ui-dialog {
    top: 20px !important;
    overflow-y: auto;
    padding: 1px;
    margin-bottom: 50px;
    position: fixed;
    
    @include in(mobile) {
        position: absolute;
        left: auto !important;
        top: 0 !important;
    }
    
    width: $dialog_mobile_width !important;
    height: $dialog_mobile_height !important;

    @include in(desktop) {
        width: $dialog_width !important;
        height: $dialog_height !important;
        height: auto !important;
        //height: 85vh !important;
    }
    
    td {
        display: block;
        padding-bottom: 5px;

        @include in(desktop) {
            display: table-cell;
            //padding-bottom: 0px;
        }
        
        input[type="text"], input[type="password"], textarea {
            width: 100%;
            @include in(desktop) {
                //width: auto;
            }
        }
        

        &:first-child {
            @include in(desktop) {
                width: 120px;
                white-space: nowrap;
            }
        }       
        
        &:last-child {
            input[type="text"], input[type="password"] {
                @include in(desktop) {
                   width: 100%;
                }
            }
            
            input.half100 {
                width: 50%;
                max-width: 100px;
            }
        
        }
    }
    
    @extend %no-outline;
}

.ui-dialog--fullscreen {
    width: 100vw !important;
    height: 100vh !important;
    overflow-y: hidden;
    left: 0 !important;
    top: 0 !important;
    background: #444;
    
    .dialog-container {
        height: 96vh !important;
        max-height: 100vh !important;
        background: #222;
        float: right;
        width: 90% !important;
    }
    
    .ui-dialog-buttonpane {
        float: left;
        width: 10%;
        background: #444;
        border: 0;
        margin-left: 0px;
    }
    
    .ui-dialog-buttonset {
        width: 100%;
        padding: 0px;
        text-align: left;
        margin: 0px;
        background: #444;

        .button {
            margin-left: 0px;
            width: 100%;
            
            span {
                font-size: 11px;
                
                &:before {
                    display: block;
                    font-size: 30px;
                }
            }
        }
    }
}

// jQuery DateTimePicker styles

.xdsoft_datetimepicker .xdsoft_calendar {
    td>div {
        padding: 6px;
    }

    th {
        padding-top: 6px !important;
    }
}

.xdsoft_datetimepicker .xdsoft_calendar td:hover, .xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_time_box >div >div:hover {
    background: $col_brand !important;
}

.xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_default, .xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_current, .xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_time_box >div >div.xdsoft_current,
.xdsoft_datetimepicker .xdsoft_label > .xdsoft_select > div > .xdsoft_option.xdsoft_current {
    background: darken($col_brand,20);
    box-shadow: darken($col_brand,30) 0px 1px 3px 0px inset;
}

// jQuery Tag Input

div.tagsinput input {
    min-width: 80px;
    border-color: darken($col_whiter, 20);
}
    
div.tagsinput span.tag {
    color: darken($col_whiter, 50);
    background: darken($col_whiter, 5);
    border: 1px solid darken($col_whiter, 10);
    height: 32px;
    padding-top: 7px;
    
    a {
        color: $col_brand;
    }
}

div.tagsinput span.tag a {
    @include icon-size(14px);
}

.not_valid {
    background: lighten($col_red, 10) !important;
    color: $col_whiter !important;
}


// Chosen
.chosen-container-multi input {
    height: 25px !important;
}

// Tooltip

.ui-tooltip {
    @include in(mobile) {
        display: none;
        visibility: hidden;
    }
}

// jQuery Extruder

.extruder {
    &.left {
        .flap {
            font-size:18px;
            color:white;
            top:0;
            padding:10px 0 10px 10px;
            background:#000;
            width: 40px;
            position:absolute;
            right:0;
            -moz-border-radius:0 10px 10px 0;
            -webkit-border-top-right-radius:10px;
            -webkit-border-bottom-right-radius:10px;
            -moz-box-shadow:#666 2px 0px 3px;
            -webkit-box-shadow:#666 2px 0px 3px;
            cursor: pointer;


            .flapLabel {
                background: #000;
                cursor: pointer;
            }
        }

        .content {
            /*border-right:3px solid #772B14;*/
        }
    }
}

.extruder-content, .ext-wrapper, .extruder-content .text {
    background: #333 !important;
}


// Colorpicker

.evo-pop {
    * {
        text-shadow: none !important;
    }
    
    width: 210px !important;
}

.customizer {  
    * {
        text-shadow: none !important;
    }
    .customizer-title {
        color: $col_whiter;
        text-align: center;
        font-weight: bold;
    }
    
    .extruder-content {
        &>.text {
            width: auto !important;
            padding-right: 0px;
        }
    }
    
    .customize-panel {
        color: $col_whiter;
        overflow-y: auto;
        padding-right: 10px;
        margin-top: 10px;
        height: 55vh;
        
        input.colorpicker {
            width: 90px;
        }

        .evo-colorind {
            width: 30px !important;
            height: 30px !important;
        }

        &>div {
            //width: 170px !important;

        }
        
        .evo-cp-wrap {
            width: 135px !important;
        }

        .custom-field-text {
            width: 100%;
        }
        
        .customize-section {
            display: none;
        }
    }
        
    .custom-btn {
        width: 200px !important;
        text-shadow: none;
        margin-top: 10px;
        margin-left: 15px;
        text-align: center;
    }
    
    .customize-section {        
        font-size: 12px;
        margin-bottom: 15px;

        legend {
            text-align: left;
        }
        
        .color-title {
            margin-top: 10px;
            margin-bottom: 5px;
        }
        
        margin-top: 20px;
    }
}

.qtip-default {
    border:1px solid #222;
    background-color:#444;
    color:#FEFEFE
}

.noVNC_screen {
    text-align: center;
    position: relative;
}

.noVNC_controls, .noVNC_settings, .noVNC_xvp, .noVNC_status {
    display: none !important;
}

 .noVNC_container {
     visibility: hidden;
 }

.noVNC_canvas--interactive {
    cursor: none !important;
}

.noVNC_canvas--viewonly {
    cursor: auto !important;
}

.noVNC_log {
    position: absolute;
    top: 0;
    left: 0;
    height: 200px;
    width: 600px;

    .log-registers {
        overflow-y: scroll;
        font-size: x-small;
        line-height: 13px;
        background: #222;
        color: #eee;
        text-align: left;
        padding: 4px;
        height: 180px;
        border: 1px solid #eee;
    }
    
    .drag-title {
        width: 100%;
        height: 20px;
        background-color: #666;
        color: #eee;
        border-top-left-radius: 6px;
        border-top-right-radius: 6px;
        padding: 3px;
        cursor: pointer;
        text-align: left;
    }
}

.vms-spy-settings {
    display: none;
    color: #eee;
    padding: 4px;
    font-size: small;
    border: 1px solid #eee;
    
    div {
        margin-bottom: 5px;
    }
}