/********************************************************************
*********************************************************************
*********************************************************************

                @THIRDS: Third party libraries overrided styles
                components/_thirds.scss

*********************************************************************
*********************************************************************
********************************************************************/

// jQuery UI styles

.ui-dialog {
    z-index: 1002;
    .ui-dialog-titlebar {
        background: $col_brand;
        text-align: center;
        padding: 5px;

        .ui-dialog-titlebar-close {
            display: none;
        }
        
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
    }
    
    .ui-state-hover, .ui-state-focus  {
        @include button($col_whiter, $col_brand);
    }
    
    .ui-dialog-buttonset {
        padding: 10px;
        text-align: right;
        
        .button {
            margin-left: 30px;
            .ui-button-text:before {
                margin-right: 10px;
            }
        }
    }
    
    .dialog-container {
        overflow-y: auto;
    }
}

.ui-widget-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 1001;
}

.ui-widget-content {
    background: $col_whiter;
}

.ui-dialog {
    top: 50px !important;
    overflow-y: auto;
    padding: 1px;
    margin-bottom: 50px;
    
    width: $dialog_mobile_width !important;
    height: $dialog_mobile_height !important;

    @include in(desktop) {
        width: $dialog_width !important;
        height: $dialog_height !important;
        height: auto !important;
    }
    
    td {
        display: block;
        padding-bottom: 5px;

        @include in(desktop) {
            display: table-cell;
            //padding-bottom: 0px;
        }
        
        input[type="text"], input[type="password"] {
            width: 100%;
            @include in(desktop) {
                width: auto;
            }
        }
        
        &:first-child {
            @include in(desktop) {
                text-align: right;
                width: 120px;
                white-space: nowrap;
            }
        }       
        
        &:last-child {
            input[type="text"], input[type="password"] {
                @include in(desktop) {
                   width: 100%;
                }
            }
        }
    }
    
    @extend %no-outline;
}

// jQuery DateTimePicker styles

.xdsoft_datetimepicker .xdsoft_calendar {
    td>div {
        padding: 6px;
    }

    th {
        padding-top: 6px !important;
    }
}

.xdsoft_datetimepicker .xdsoft_calendar td:hover, .xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_time_box >div >div:hover {
    background: $col_brand !important;
}

.xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_default, .xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_current, .xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_time_box >div >div.xdsoft_current {
    background: darken($col_brand,20);
    box-shadow: darken($col_brand,30) 0px 1px 3px 0px inset;
}

