Source: qvd-sample-config
Section: perl
Priority: optional
Maintainer: qvd-team <qvd@qindel.com>
Build-Depends: debhelper (>= 7)
Standards-Version: 3.8.4
Homepage: http://qvdblog.qindel.com

Package: qvd-sample-config
Architecture: all
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: The QVD sample configuration
 The QVD sample configuration includes the sample config.ini and log4perl.conf files.
