/********************************************************************
*********************************************************************
*********************************************************************

                @LAYOUT LOGIN: Layout of login
                components/_layout-login.scss

*********************************************************************
*********************************************************************
********************************************************************/

.login-box {
    width: 90%;
    height: 250px;
    @include in(desktop) {
        width: 650px;   
        height: 300px;
    }
    margin: 50px auto;
    border-radius: 20px;
    border: 3px solid darken($col_loginbox, 5);
    background: $col_loginbox;
    color: $col_logintext;
    display: table;
    table-layout: fixed;
    padding: 30px 20px;
    
    .login-side {
        display: none;
        @include in(desktop) {
            display: table-cell;
        }
        width: 240px;
        text-align: center;
        border-right: 2px dotted darken($col_whiter, 20);
        
        img {
            width: 190px;
            margin-top: 50px;
        }
    }
    
    .login-main {
        display: table-cell;
        vertical-align: middle;
        
        .login-form {
            text-align:left;
            margin: 0 auto;
            width: 180px;
            font-size: 1.1em;
            @include in(desktop) {
                width: 220px;
                font-size: 1.2em;
            }
            &>div {
                &.login-control {
                    padding-bottom: 20px;
                    
                    &>div:first-child {
                        padding-bottom: 5px;
                        padding-left: 5px;
                    }
                    
                    input {
                        width: 100%;
                    }
                }
                
                &.login-button {
                    text-align: right;
                    padding-top: 5px;
                }
            }
        }
    }
}